// Contact Section
section#sc-contact
    .container-fluid
        .section-wrapper
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Konfirmasi
                
                .confirmation-wrapper

                    ._label.align-center Anda akan menyewa fasilitas dengan rinsian sebagai berikut:
                    .table-responsive
                        table.table.table-borderless
                            thead
                                tr
                                    th(scope='col') No.
                                    th(scope='col') Nama Fasilitas
                                    th(scope='col') Tanggal Sewa
                                    th(scope='col', width="300px") Harga
                            tbody
                                tr
                                    th(scope='row') 1.
                                    td Giri Wijaya
                                    td 
                                        span 17 Februari 2020 
                                        | Sampai 
                                        span 19 Februari 2020
                                    td 
                                        .rp.ns 64000000
                                
                                tr
                                    th(scope='row') 2.
                                    td Giri Sasana
                                    td 
                                        span 17 Februari 2020 
                                        | Sampai 
                                        span 19 Februari 2020
                                    td 
                                        .rp.ns 280000000
                                
                                tr
                                    th(scope='row')
                                    td(colspan="2") Total
                                    td 
                                        .rp.ns 344000000
                                

                    .col-lg-6.offset-lg-3
                        a(href="dashboard-transaction.html").link-btn.link-btn-primary.link-btn-lg.link-btn-w-full.link-btn-center konfirmasi