.primary-card {
    display: block;
    margin-bottom: 4rem;

    img {
        width: 100%;
        height: 48rem;
        object-fit: cover;

        @media (max-width:575.98px) {
            height: 32rem;
        }
    }

    ._img-wrapper {
        width: 100%;
        height: 48rem;
        position: relative;

        @media (max-width:575.98px) {
            height: 32rem;
        }

        img {
            height: 20rem;
            width: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @media (max-width:575.98px) {
                height: 14rem;
            }
        }

        &._top {

            img {
                top: 8rem;
                transform: translateX(-50%);
            }
        }

        &._bottom {

            img {
                top: unset;
                bottom: 8rem;
                transform: translateX(-50%);
            }
        }
    }

    .label-text {
        text-align: center;
        margin-top: 4rem;
    }

    &._v2 {
        margin-bottom: 8rem;
        
        ._img-wrapper {
            background-image: url('../img/layout-wikasatrian-r-7.jpg');
            background-size: cover;

            img {
                mix-blend-mode: multiply;
            }
        }
    }

    &._reservasi {
        border: .1rem solid $color-primary;
        position: relative;
        cursor: pointer;

        input {
            display: none;
        }

        ._cb {
            background-color: white;
            color: $color-primary;
            border-radius: 50%;
            border: .1rem solid $color-primary;
            text-align: center;
            width: 4rem;
            height: 4rem;
            line-height: 3.8rem;
            font-size: 3.6rem;
            position: absolute;
            top: 4rem;
            right: 4rem;
        }

        .label-text {
            margin-bottom: 4rem;
            color: $color-primary;
        }

        &._checked {
            background-color: $color-primary;

            ._cb {
                background-color: $color-primary;
                color: white;
            }

            .label-text {
                color: white;
            }
        }
    }

    &._small {
        display: flex;

        img {
            width: 19.2rem;
            height: 19.2rem;
        }

        .label-text {
            flex: 1;
            width: 100%;
            text-align: center;
            align-self: center;

            .rp.ns {
                font-size: 2rem;
                color: $color-base2;
                font-family: $font-family;
                margin-top: 2.8rem;
            }
        }

        @media (max-width:575.98px) {
            display: block;
            img {
                width: 100%;
            }
        }
    }
}

.program-card {
    display: block;
    
    &__img-wrapper {
        width: 100%;
        background-color: white;
        box-shadow: $shadow;
        margin-bottom: 8rem;
        height: 44rem;
        position: relative;


        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 19.4rem;
            height: 28rem;
            object-fit: contain;
        }

        @media (max-width:991.98px) {
            margin-bottom: 4rem;
        }

        @media (max-width:575.98px) {
            height: 28rem;
            
            img {
                width: 40%;
            }
        }
    }

    .label-text {
        margin: 0 -9.6rem;

        @media (max-width:991.98px) {
            margin: 0;
        }
    }
}

.article-card {
    display: block;
    margin-bottom: 8rem;

    &__img {
        width: 100%;
        height: auto;

        @media (max-width: 767.98px) {
            height: 24rem;
            object-fit: cover;
        }
    }

    .label-text {
        margin-top: 4rem;
        margin-bottom: 1.6rem;
    }

    &__date {
        font-size: 1.6rem;
        line-height: 1.25;
        letter-spacing: .205rem;
        color: $color-gray2;
        margin-bottom: 3.2rem;
        display: inline-block;
    }

    .body-text {
        max-height: 16rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        color: $color-base;
    }

}

.dashboard-card {
    padding: 0 3.2rem;
    border: .1rem solid $color-gray2;
    
    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }

    &--transaction {

        &__top {
            padding: 4rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: .2rem dashed $color-gray2;
    
            ._left {
                color: $color-gray2;
                display: flex;
                align-items: center;
    
                i {
                    font-size: 3.8rem;
                    margin-right: .8rem;
                }
    
                span {
                    font-size: 2rem;
                    letter-spacing: .256rem;
                }
            }

            ._wrap {
                display: flex;
                align-items: center;
            }

            @media (max-width:767.98px) {
                display: block;

                ._left {
                    margin-bottom: 2.4rem;
                    display: block;
                }

                ._wrap {}
            }
        }
    
        &__middle {
            padding: 4rem 0 3.2rem;
    
            .label-text {
                color: $color-primary;
                margin-bottom: 3.2rem;
            }

            &__table {
                overflow: scroll;
            }
    
            table {
    
                tr {
    
                    td {
                        font-size: 2rem;
                        letter-spacing: .256rem;
                        line-height: 2.6;
    
                        &:first-child {
                            color: $color-gray2;
                        }
    
                        &:last-child {
                            padding-left: 2.8rem;
                            color: $color-base2;
                            font-weight: $fw-bold;
    
                            span {
                                margin-left: 2.4rem;
                            }
                        }
                    }
                }
            }

            article {
                max-height: 33.6rem;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        &__bottom {
            padding: 3.2rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: .2rem dashed $color-gray2;


            ._left {
                color: $color-primary;
                display: flex;
                align-items: center;

                i {
                    font-size: 2.8rem;
                    margin-right: .8rem;
                }

                span {
                    font-size: 2rem;
                    letter-spacing: .256rem;
                }
            }

            @media (max-width:767.98px) {
                display: block;

                ._left {
                    margin-bottom: 2.4rem;
                }
            }

            ._center {
            }
        }
    }
}

.reservasi-wrapper {
    padding-bottom: 4rem;

    &:not(:last-child) {
        border-bottom: .2rem dashed $color-gray2;
        margin-bottom: 4rem;
    }
}

.confirmation-wrapper {
    font-size: 2.8rem;
    line-height: 1.43;
    letter-spacing: .358rem;
    color: $color-base;

    @media (max-width:991.98rem) {
        font-size: 2rem;
    }

    @media (max-width:767.98rem) {
        font-size: 1.6rem;
    }

    ._label {
        margin-bottom: 4rem;
    }

    .table-responsive {
        margin-bottom: 8rem;
    }

    table {

        tr {

            th,
            td {
                padding: 1.6rem;
            }
        }

        tr {

            th {
                text-align: center;
                font-weight: $fw-normal;
            }

            td {
                span {
                    color: $color-primary
                }
            }
        }

        thead {

            tr {

                th {
                    background-color: $color-primary;
                    border: .1rem solid white;
                    color: white;
                    vertical-align: middle;
                }
            }
        }

        tbody {

            tr {

                &:last-child {
                    background-color: $color-gray;
                    color: $color-base2;
                    font-weight: $fw-bold;
                }
            }
        }
    }
}