// Program
.sc-program {
    &__inner {
        background-image: url('../img/layout-wikasatrian-r-7.jpg');
        background-size: cover;
        text-align: center;
        margin-bottom: 5.2rem;
        padding: 16rem;

        &__programs-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__program-wrapper {
            width: 35.4rem;
        }

        @media (max-width: 1199.98px) {
            padding: 8rem;
        }
        
        @media (max-width: 991.98px) {
            
            &__programs-wrapper {
                display: block;
            }

            &__program-wrapper {
                width: 35.4rem;
                margin: 0 auto;

                &:not(:last-child) {
                    margin-bottom: 4.8rem;
                }
                
            }
        }
        
        @media (max-width: 575.98px) {  
            padding: 1.6rem;

            &__program-wrapper {
                width: 100%;
                
            }
        }
    }
}