// Contact Section
section#sc-contact
    .container-fluid
        .section-wrapper
            .container

                .row
                    .col-12.col-lg-4
                        .Dashboard__user
                            .Dashboard__user__top
                                i.profile-drawer.ws.ws-menu
                                ul.profile-menu
                                    li
                                        a(href="dashboard-profile.html") Edit Profile
                                    li
                                        a(href="index.html") Keluar

                                img(src="uploads/images/IMG_0175.jpg").Dashboard__user__top__img.avatar
                                .Dashboard__user__top__title JOKO SUTOPAN
                            .Dashboard__user__bottom
                                ul.Dashboard__user__bottom__menu
                                    li
                                        ._list
                                            i.ws.ws-envelope
                                            span JokoSutopan@gmail.com
                                    li
                                        ._list
                                            i.ws.ws-phone
                                            span 081111122244
                                    li
                                        ._list
                                            i.ws.ws-building
                                            span PT. Nusa Jaya
                        
                    .col-12.col-lg-8
                        ul#dashboard.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a#transaction-tab.nav-link.active(data-toggle='tab', href='#transaction', role='tab', aria-controls='transaction', aria-selected='true') transaksi
                            li.nav-item
                                a#bill-tab.nav-link(data-toggle='tab', href='#bill', role='tab', aria-controls='bill', aria-selected='false') tagihan
                            li.nav-item._notif
                                a#notification-tab.nav-link(data-toggle='tab', href='#notification', role='tab', aria-controls='notification', aria-selected='false') notifikasi
                        #dashboardContent.tab-content
                            #transaction.tab-pane.show.active(role='tabpanel', aria-labelledby='transaction-tab')
                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__top
                                        ._left
                                            i.ws.ws-calendar
                                            span 23 Januari 2020
                                        .badges.badges--success Berhasil

                                    .dashboard-card--transaction__middle
                                        .label-text Sewa Fasilitas Griri Wijaya &amp; Giri Sasana
                                        .dashboard-card--transaction__middle__table
                                            table
                                                tr
                                                    td Nomor Transaksi
                                                    td :
                                                        span 123bafg7e
                                                tr
                                                    td Total Pembayaran
                                                    td :
                                                        span.rp.ns 344000000

                                    .dashboard-card--transaction__bottom
                                        a(href="#!")._left
                                            i.ws.ws-download
                                            span Unduh bukti pembayaran
                                        a.link-btn.link-btn-secondary.link-btn-xs.link-btn-w-xs(href='reschedule.html') ubah jadwal
                                
                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__top
                                        ._left
                                            i.ws.ws-calendar
                                            span 23 Januari 2020
                                        .badges.badges--info Menunggu Pembayaran
                                    .dashboard-card--transaction__middle
                                        .label-text Sewa Fasilitas Griri Wijaya &amp; Giri Sasana
                                        .dashboard-card--transaction__middle__table
                                            table
                                                tr
                                                    td Nomor Transaksi
                                                    td :
                                                        span 123bafg7e
                                                tr
                                                    td Total Pembayaran
                                                    td :
                                                        span.rp.ns 344000000

                                    .dashboard-card--transaction__bottom
                                        a(href="#!")._left
                                            i.ws.ws-download
                                            span Unduh invoice
                                
                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__top
                                        ._left
                                            i.ws.ws-calendar
                                            span 23 Januari 2020
                                        .badges.badges--error Dibatalkan
                                    .dashboard-card--transaction__middle
                                        .label-text Sewa Fasilitas Griri Wijaya &amp; Giri Sasana
                                        
                                        .dashboard-card--transaction__middle__table
                                            table
                                                tr
                                                    td Nomor Transaksi
                                                    td :
                                                        span 123bafg7e
                                                tr
                                                    td Total Pembayaran
                                                    td :
                                                        span.rp.ns 344000000
                                
                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__top
                                        ._left
                                            i.ws.ws-calendar
                                            span 23 Januari 2020
                                        .badges.badges--process Diproses
                                    .dashboard-card--transaction__middle
                                        .label-text Sewa Fasilitas Griri Wijaya &amp; Giri Sasana
                                        .dashboard-card--transaction__middle__table
                                            table
                                                tr
                                                    td Nomor Transaksi
                                                    td :
                                                        span 123bafg7e
                                                tr
                                                    td Total Pembayaran
                                                    td :
                                                        span.rp.ns 344000000


                            #bill.tab-pane(role='tabpanel', aria-labelledby='bill-tab')

                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__middle
                                        .label-text Sewa Fasilitas Griri Wijaya &amp; Giri Sasana
                                        .dashboard-card--transaction__middle__table
                                            table
                                                tr
                                                    td Nomor Transaksi
                                                    td :
                                                        span 123bafg7e
                                                tr
                                                    td Total Pembayaran
                                                    td :
                                                        span.rp.ns 344000000

                                    .dashboard-card--transaction__bottom
                                        a(href="#!")._left
                                            i.ws.ws-download
                                            span Unduh invoice


                            #notification.tab-pane(role='tabpanel', aria-labelledby='notification-tab')

                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__top
                                        ._left
                                            ._wrap
                                                i.ws.ws-calendar
                                                span 23 Januari 2020
                                            
                                            ._wrap
                                                i.ws.ws-time.male-3
                                                span 15.30

                                    .dashboard-card--transaction__middle
                                        .label-text Sewa Fasilitas Griri Wijaya &amp; Giri Sasana
                                        article
                                            p Dengan hormat,

                                            p Kami dari pihak Wikasatrian Pusat Kepemimpinan berniat untuk mengundang Bapak Joko Sutopan beserta segenap pimpinan PT. Nusa Jaya dalam rangka persiapan modul Program Satria Pratama demi terwujudnya tujuan program pelatihan. Untuk itu kami berharap kehadiran Bapak beserta para pimpinan lainnya pada:

                                            p Tanggal: 29 Januari 2020<br>
                                                | Pukul 09.30 WIB<br>
                                                | Tempat Giri Boga Wikasatrian

                                            p Sekian pemberitahuan dari kami. Atas perhatian Bapak beserta segenap Pimpinan lainnya kami sampaikan terimakasih.
                                    .dashboard-card--transaction__bottom
                                        a(href="#!")._left.content-center
                                            span Selengkapnya
                                            i.ws.ws-caret-down

                                .dashboard-card.dashboard-card--transaction
                                    .dashboard-card--transaction__top
                                        ._left
                                            ._wrap
                                                i.ws.ws-calendar
                                                span 23 Januari 2020

                                            ._wrap
                                                i.ws.ws-time.male-3
                                                span 15.30

                                    .dashboard-card--transaction__middle
                                        .label-text Pengubahan Jadwal Sewa Fasilitas Giri Wijaya &amp; Giri Sasana
                                        article
                                            p Anda telah melakukan perubahan jadwal penyewaan fasilitas. Kami akan memproses permintaan Anda. Tunggu email pemberitahuan dari kami selanjutnya.


