// Contact Section
section#sc-contact
    .container-fluid
        .section-wrapper
            .container

                .row
                    .col-12.col-lg-4
                        .Dashboard__user
                            .Dashboard__user__top
                                i.profile-drawer.ws.ws-menu
                                ul.profile-menu
                                    li
                                        a(href="dashboard-profile.html") Edit Profile
                                    li
                                        a(href="index.html") Keluar

                                img(src="uploads/images/IMG_0175.jpg").Dashboard__user__top__img.avatar
                                .Dashboard__user__top__title JOKO SUTOPAN
                            .Dashboard__user__bottom
                                ul.Dashboard__user__bottom__menu
                                    li
                                        ._list
                                            i.ws.ws-envelope
                                            span JokoSutopan@gmail.com
                                    li
                                        ._list
                                            i.ws.ws-phone
                                            span 081111122244
                                    li
                                        ._list
                                            i.ws.ws-building
                                            span PT. Nusa Jaya
                        
                    .col-12.col-lg-8
                        
                        .dashboard-card.dashboard-card--transaction
                            .dashboard-card--transaction__middle
                                form(action="#!")
                                    .input-pack.input-pack--distance
                                        .input-pack__label.label-text Foto Profil
                                        label(for="uploadImgBtn")
                                            img(src="uploads/images/IMG_0175.jpg").avatar#uploadImg
                                            input(type="file" accept="image/*" id="uploadImgBtn").d-none
                                        label(for="uploadImgBtn").link-btn.link-btn-primary.link-btn-xs.link-btn-w-xs.male-3 Pilih Gambar

                                    .input-pack.input-pack--distance
                                        .input-pack__label.label-text Nama Lengkap
                                        input(type="text", placeholder="Masukan Nama Lengkap" value="Joko Sutopan")
                                    
                                    .input-pack.input-pack--distance
                                        .input-pack__label.label-text Email
                                        input(type="email", placeholder="Masukan Email" value="JokoSutopan@gmail.com")

                                    .input-pack.input-pack--distance2
                                        .input-pack__label.label-text Nomor Telepon
                                        input(type="number", placeholder="Masukan Nomor Telepon" value="081111122244")

                                    .input-pack.input-pack--distance
                                        .input-pack__label.label-text Perusahaan
                                        input(type="text", placeholder="Masukan Nama Perusahaan" value="PT. Nusa Jaya")

                                    input(type="submit", value="simpan").link-btn.link-btn-primary.link-btn-lg.link-btn-w-full