
// Intro Section
section.bg-flower#sc-about
    .container-fluid
        .section-wrapper.bg-line
            .container
                img(src="img/logo-full2.svg").mabo-7.content-center
                p.heading1.shadow-text.align-center Tentang<br>Wikasatrian

// Info Section
section#sc-info
    .container-fluid
        .bo-section-wrapper.bg-line
            .container

            img(src="img/IMG_6384(2).jpg").img-responsive.mabo-7

            .container
                p.body-text Mengambil saripati inspirasi dari warisan adiluhung nusantara yang penuh akan petuah kearifan budaya dalam mozaik keharmonisan dengan alam sekitar, kami tergerak untuk merintis WIKASATRIAN sebagai penjelmaan sebuah candradimuka untuk membangkitkan dan menempa etos jiwa kepemimpinan yang tangguh dari setiap insan WIKA, sekaligus sebagai bentuk bakti sumbangsih kami terhadap kemajuan bangsa.<br><br>WIKASATRIAN adalah kehalusan sanubari untuk membuka sekat-sekat budi pekerti dan kalbu dalam upaya bernaung diri kepada cakrawala alam. Melalui gerbang pemahaman itu, diharapkan kelak tercipta landasan kokoh pencerahan sejati yang mampu menjelma menjadi panduan kepemimpinan berbudi luhur.

// history Section
section#sc-history
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Sejarah

            img(src="img/IMG_0348.jpg").img-responsive.mabo-7

            .container
                p.body-text Mengambil saripati inspirasi dari warisan adiluhung nusantara yang penuh akan petuah kearifan budaya dalam mozaik keharmonisan dengan alam sekitar, kami tergerak untuk merintis WIKASATRIAN sebagai penjelmaan sebuah candradimuka untuk membangkitkan dan menempa etos jiwa kepemimpinan yang tangguh dari setiap insan WIKA, sekaligus sebagai bentuk bakti sumbangsih kami terhadap kemajuan bangsa.<br><br>WIKASATRIAN adalah kehalusan sanubari untuk membuka sekat-sekat budi pekerti dan kalbu dalam upaya bernaung diri kepada cakrawala alam. Melalui gerbang pemahaman itu, diharapkan kelak tercipta landasan kokoh pencerahan sejati yang mampu menjelma menjadi panduan kepemimpinan berbudi luhur.

// Misi Section
section#sc-misi
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Misi

            img(src="img/ws-img-misi.jpg").img-responsive.mabo-10

            .container
                p.heading2.align-center.shadow-text Mengembangkan Pemimpin Sebagai Inspirator Bagi Kepemimpinan Kearifan Lokal Mewakili Indonesia Di Kancah Global

// Map Section
section#sc-map
    .container-fluid
        .section-wrapper
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15852.04604120208!2d106.8608876!3d-6.6454914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5ecc882ec9fd75c!2sWikasatrian!5e0!3m2!1sid!2sid!4v1581492624891!5m2!1sid!2sid" allowfullscreen="")

// Alumni Section
section#sc-alumni
    .container-fluid
        .section-wrapper
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Alumni

            .sc-alumni__wrapper
                img(src="img/ws-img-alumni-giri-wijaya.jpg")

                ._text-wrapper 
                    .sc-alumni__count
                        ._value 8
                        ._title Pelanggan
                        
                    .sc-alumni__count
                        ._value 1354
                        ._title Peserta

                    .sc-alumni__count
                        ._value 16
                        ._title Testimoni