.footer {

    &__top {
        padding: 16rem 0 7.2rem;

        @media (max-width: 1199px) {
            padding: 8rem 0;
        }
    }

    &__logo {
        height: 4rem;
        align-self: flex-start;
        margin-bottom: 9.2rem;

        @media (max-width:991.98px) {
            margin-bottom: 3.2rem;
        }
    }

    ._wrapper {
        height: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // text-align: left;

        @media (max-width:991.98px) {
            padding-bottom: 3.2rem;
        }
    }

    ._info {
        
        li {
            display: flex;

            i {
                color: $color-primary;
                font-size: 2rem;
                margin-right: .8rem;
            }

            p, a {
                line-height: 1.7;
                color: $color-base;
            }

            &:not(:last-child) {
                margin-bottom: 2.4rem;
            }
        }
    }

    &__link-group {
        
        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        ul {

            li {
    
                &:not(:last-child) {
                    margin-bottom: .8rem;
                }
    
                a {
                    color: $color-base;
                    line-height: 1.7;
                }
            }
        }
    }

    &__title {
        margin-bottom: 2rem;
        color: $color-primary;
        font-family: $font-family2;
        font-weight: bold;
    }


    &__bottom {
        border-top: .1rem solid $color-primary;
        
        .container {
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (max-width: 991.98px) {

            .container {
                display: unset;
            }
        }
    }

    &__social {
        display: flex;

        li {

            a {
                color: $color-primary;
                font-size: 2.4rem;
            }

            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }
    }

    &__copyright {
        
        span {
            font-size: 1.2rem;
        }
    }

}

@media (max-width:991.98px) {

    ._tmb {
        margin-top: 4rem;
    }
}