.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $color-primary;
    z-index: 101;
    transition: all .2s ease-in-out;

    .ws-back {
        color: white;
        font-size: 3.2rem;
    }

    &__links {
        display: inline-block;

        li {
            display: inline-block;
            margin-right: 2.4rem;

            &:last-child {
                margin-right: 3.2rem;
            }

            a {
                color: white;
                letter-spacing: 2.56px;
                font-size: 2rem;
                opacity: .8;
                
                &:hover {
                    opacity: 1;
                }
            }

            &._active {
                font-weight: $fw-bold;

                a {
                    opacity: 1;
                }
            }
        }
    }

    &__menu {
        background-color: white;
        height: 0;
        overflow: hidden;
        transition: all .2s ease-in-out;
        display: flex;
        align-items: center;
        position: relative;

        i {
            font-size: 3.2rem;
            position: absolute;
            top: 1.6rem;
            right: 1.5rem;
        }


        &__list {
            text-align: center;

            li {
                padding: 1rem 0;

                a {
                    font-family: $font-family2;
                    font-size: 2.4rem;
                    font-weight: $fw-bold;
                    letter-spacing: .31rem;
                    color: $color-base;
                    transition: all .2s ease-in-out;
                        
                    &:hover {
                        color: $color-primary;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 3.2rem;
                }

                @media (max-width: 767.98px) {

                    a {
                        font-size: 1.4rem;
                    }

                    &:not(:last-child) {
                        margin-bottom: 1.6rem;
                    }
                }
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        i {
            font-size: 3.2rem;
            color: white;
            cursor: pointer;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: $nav-height;
        justify-content: space-between;
        align-items: center;
        border-bottom: .1rem solid $color-primary;
        transition: all .2s ease-in-out;

        @media (max-width: 991.98px) {
            height: $nav-height-sm;
        }
    }

    &__logo {
        height: 3.6rem;

        @media (max-width:991.98px) {
            height: 2.4rem;
        }
    }

    &__social {
        display: flex;

        li {

            a {
                color: $color-primary;
                font-size: 2.4rem;
            }

            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }
    }

    &__login {
        width: 16rem;
        font-family: $font-family;
        font-size: 2rem;
    }

    @media (max-width: 991.98px) {

        &__social {
            display: none;
        }
    }

    &._active {
        position: fixed;
        background-color: $color-primary;

        .navbar__wrapper {
            border: unset !important;
        }

        .drawer-btn {
            display: none;
        }

        .navbar__login {
            display: block !important;
        }

        .navbar {

            &__menu {
                height: calc(100vh - 8rem);
            }

            &__wrapper {
                border-bottom: .1rem solid white;
                border-top: .1rem solid $color-primary;
            }

            &__social {
                display: none;
            }

            &__login {
                display: block;
            }

            @media (max-width: 991.98px) {

                &__menu {
                    height: calc(100vh - 5.6rem);
                }

                &__logo {
                    display: none;
                }
            }
        }
        
    }

    &--home {
        position: fixed;
        background-color: transparent;

        .navbar__wrapper {
            border-color: white;
        }

        &._scrolled {
            position: fixed;
            background-color: $color-primary;
            
            .navbar__wrapper {
                border-color: $color-primary;
            }
        }
    }

}