doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title Articles | !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar-logged
        //- Content Start
        main.Article
            include components/sc-article-list
            
        include ../../layouts/footer
        include ../../layouts/links-bottom

        script.
            $('.article-slider').slick({
            centerMode: true,
            dots:true,
            arrows:true,
            centerPadding: '0',
            slidesToShow: 1,
            });