-
    var apps = [
        {
            name: "Wikasatrian"
        }
    ];
    var navlinks = [
        {
            name: "Beranda",
            link: "index.html",
            type: "primary"
        },
        {
            name: "Tentang",
            link: "about.html",
            type: "primary"
        },
        {
            name: "Program",
            link: "programs.html",
            type: "primary"
        },
        {
            name: "Fasilitas",
            link: "facilities.html",
            type: "primary"
        },
        {
            name: "Article",
            link: "articles.html",
            type: "primary"
        },
        {
            name: "Contact",
            link: "contact.html",
            type: "primary"
        },
        {
            name: "FAQ",
            link: "faq.html",
            type: "secondary"
        },
        {
            name: "Syarat &amp; Ketentuan",
            link: "terms.html",
            type: "secondary"
        },
        {
            name: "Kebijakan Privasi",
            link: "privacy.html",
            type: "secondary"
        },
        {
            name: "Kotak Saran",
            link: "feedback.html",
            type: "secondary"
        },
        {
            name: "Overview",
            link: "dashboard.html",
            type: "logged"
        },
        {
            name: "Riwayat Transaksi",
            link: "dashboard-transaction.html",
            type: "logged"
        },
        {
            name: "Riwayat Sedekah Berjalan",
            link: "dashboard-sedekah.html",
            type: "logged"
        },
        {
            name: "Konfirmasi Pembayaran",
            link: "confirmation.html",
            type: "logged"
        },
        {
            name: "Klaim Transaksi",
            link: "claim.html",
            type: "logged"
        },
        {
            name: "Pengaturan",
            link: "setting.html",
            type: "logged"
        },
        {
            name: "Keluar",
            link: "index.html",
            type: "logout"
        }

    ];

    var oneonlys = [
        {
            title: "Modul Kepemimpinan Berbasis Riset",
            img: "custom-bg.png",
            link: "#!"
        },
        {
            title: "Keunikan Modul",
            img: "custom-bg.png",
            link: "#!"
        },
        {
            title: "Integrasi Modul Dengan Tempat ",
            img: "custom-bg.png",
            link: "#!"
        },
        {
            title: "Arboretum",
            img: "custom-bg.png",
            link: "#!"
        },
        {
            title: "Kuliner Nusantara",
            img: "custom-bg.png",
            link: "#!"
        },
        {
            title: "Artefak Nusantara",
            img: "custom-bg.png",
            link: "#!"
        }
    ];
    
    var programs = [
        {
            title: "Program Pembelajaran Kepemimpinan",
            img: "satria-utama.jpg",
            link: "program-leadership.html"
        },
        {
            title: "Program Pembelajaran Manajemen & Bisnis",
            img: "program-kewirausahaan.jpg",
            link: "program-management.html"
        }
    ];

    var programLists = [
        {
            title: "Satria Pratama",
            img: "satria-pratama.jpg",
            link: "#satria-pratama",
            type: "leadership",
            extraClass: "_bottom"
        },
        {
            title: "Satria Utama",
            img: "satria-utama.jpg",
            link: "#satria-utama",
            type: "leadership"
        },
        {
            title: "Satria Luhur",
            img: "satria-luhur.jpg",
            link: "#satria-luhur",
            type: "leadership",
            extraClass: "_top"
        },
        {
            title: "Tatanan Pucuk Kepemimpinan",
            img: "program-tatanan-pucuk-kepemimpinan.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Kecakapan Tata Kelola Perusahaan",
            img: "program-kecakapan-tata-kelola-perusahaan.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Kepemimpinan & Kecakapan Taktis",
            img: "program-kepemimpinan-kecakapan-taktis.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Tata Kelola Resiko",
            img: "program-tata-kelola-resiko.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Penataran Pamong",
            img: "program-penataran-pamong.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Kewirausahaan",
            img: "program-kewirausahaan.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Strategi Pengambilan Keputusan",
            img: "program-strategi-pengambilan-keputusan.jpg",
            link: "#!",
            type: "management"
        },
        {
            title: "Tatanan Pengetahuan & Rekacipta",
            img: "program-tatanan-pengetahuan-rekacipta.jpg",
            link: "#!",
            type: "management"
        }
    ];

    var articleLists = [
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-01.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-02.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-03.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-04.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-05.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-06.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-07.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-08.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-09.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-10.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-11.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-12.jpg",
            link: "article.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        }
    ];

    var activityLists = [
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-01.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-02.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-03.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-04.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-05.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-06.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-07.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-08.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-09.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-10.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-11.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        },
        {
            title: "Cupiditate Maxime Dolore Quibusdam",
            img: "article-12.jpg",
            link: "activity.html",
            date: "Senin, 17 Februari 2019",
            desc: "dolore error consequuntur. Ad tenetur necessitatibus quibusdam, corporis alias nam accusantium nemo incidunt pariatur libero dolorem reprehenderit veniam velit corrupti ex vel qui esse reiciendis architecto maiores tempora ullam sequi ipsum. Animi dolor reiciendis rerum, corrupti corporis rem reprehenderit autem nemo ad fuga perspiciatis at consequuntur velit nisi error quasi? Libero quia"
        }
    ];

    var facilities = [
        {
            title: "Giri Wijaya",
            img: "ws-img-card-fasilitas-griri-wijaya.jpg",
            link: "facility-detail.html",
            desc: "Rupa bangun Giri Wijaya terilhami dari bentuk gunung, sesuai dengan nama “Giri” yang bermakna gunung dalam bahasa Jawa, Sunda, dan Sansekerta. Sedangkan “Wijaya” diambil dari nama “Wijaya Karya”, sebagai induk tempat WIKASATRIAN bernaung"
        },
        {
            title: "Giri Sasana",
            img: "Copy of wikasatrian_BQZ4EmdANV1.jpg",
            link: "facility-detail.html",
            desc: "Giri Sasana adalah ruangan terluas di Giri Wijaya yang berfungsi sebagai wahana auditorium, tempat peserta dapat menimba ilmu melalui tiap bentuk pagelaran visual yang diputar."
        },
        {
            title: "Giri Budaya",
            img: "NoPath.jpg",
            link: "facility-detail.html",
            desc: "Giri Budaya memiliki faedah sebagai pendapa ruang berkumpul dan menjalin relasi. Ruang ini memberi pesan bahwa setiap insan WIKA harus memiliki sikap eling lan waspadha dalam menjalani kehidupan."
        },
        {
            title: "Giri Pustaka",
            img: "ws-img-card-fasilitas-griri-pustaka.jpg",
            link: "facility-detail.html",
            desc: "Di lantai paling atas, terdapat Giri Pustaka yang merupakan tempat yang tepat untuk menimba ilmu pengetahuan melalui beragam kepustakaan baca yang tersedia."
        },
        {
            title: "Giri Boga",
            img: "ws-img-card-fasilitas-griri-boga.jpg",
            link: "facility-detail.html",
            desc: "Giri Boga merupakan ruang santap dan memiliki ruang muktamar. Memiliki dekorasi khas jawa yang menawan dan indah, yang cocok untuk menemani makan bersama. Dengan pelayanan penuh dan hidangan Indonesia namun berkelas, memiliki nilai tambah tersendiri dan nilai budaya."
        },
        {
            title: "Ruang Pertemuan",
            img: "NoPath - Copy (3).jpg",
            link: "facility-detail.html",
            desc: "Mempersediakan ruang miting kepada pengunjung untuk pertemuan atau miting bersama dengan pelayanan bintang 5. Dengan meja yang luas, menambah keindahan dan kemewahan ruang rapat sehingga menambah kesan pada saat rapat berlangsung. Memiliki 13 kursi utama dan sofa."
        },
        {
            title: "Wana Arena",
            img: "ws-img-card-fasilitas-wana-arena.jpg",
            link: "facility-detail.html",
            desc: ""
        },
        {
            title: "Alam Wikasatrian",
            img: "ws-img-card-fasilitas-alam-wikasatrian.jpg",
            link: "facility-detail.html",
            desc: ""
        }
    ];

    var articles = [
        {
            title: "Kepedulian Masyarakat Indonesia Untuk Banjir di Setani Papua", 
            link: "article.html",
            img: "story-1.jpg",
            category: "Bencana Alam",
            time: "13 menit lalu",
            description: "Consequatur provident quia eligendi, dicta maxime ut sit facilis exercitationem, pariatur perspiciatis autem earum velit natus accusamus tempora cumque ea. Modi aperiam quia perferendis cumque iure? Quod ut fugiat porro eligendi eveniet eum. Blanditiis?",
            descriptionL: `
                <p>Consequatur provident quia eligendi, dicta maxime ut sit facilis exercitationem, pariatur perspiciatis autem earum velit natus accusamus tempora cumque ea. Modi aperiam quia perferendis cumque iure? Quod ut fugiat porro eligendi eveniet eum. Blanditiis?</p>
                
                <img src="uploads/images/story-1.jpg">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa minus eius commodi id sapiente enim eaque reprehenderit neque consequuntur iste doloribus aperiam sint porro iusto reiciendis qui laudantium, dolor corrupti. Sapiente dignissimos saepe facilis veniam. Libero, maiores sunt. Reiciendis ut laboriosam sed ex dolor cupiditate veritatis, molestias sint illum. Laboriosam iusto numquam voluptatum laudantium ratione quas est quisquam reprehenderit perspiciatis consequuntur repudiandae debitis libero omnis pariatur, nulla distinctio beatae vel iste ullam a saepe veritatis. Quae alias quaerat distinctio eos numquam deleniti earum. Voluptate esse sunt amet.</p>
                
                <div class="_title">Korban Tewas Mencapai 58 0rang </div>
                
                <p>Rem culpa consectetur sequi distinctio voluptatem architecto voluptates inventore aliquid asperiores pariatur impedit, nobis non, iusto nihil autem! Unde, iure sed corporis rem obcaecati ducimus quas provident, voluptatibus mollitia ullam minus, molestias at culpa nam sint quidem eveniet. Sed, explicabo quas animi optio dolor similique, tenetur quos fuga, ratione accusamus maxime autem iure molestiae blanditiis nulla placeat? Libero cumque illo, nesciunt ab soluta minus perspiciatis error natus repudiandae tempora sapiente fugiat expedita perferendis vitae facilis doloribus accusamus! Voluptate porro laudantium magni vero ipsa ipsam ex accusantium quaerat culpa? Dolores maxime quas sint tempore doloribus nesciunt esse, cupiditate placeat saepe.</p>`,
            views: 335
        },
        {
            title: "Bantuan 1000 Paket Sembako Hadiah dari Indonesia Untuk Anak-anak Palestina #CAREPALESTINE", 
            link: "article.html",
            img: "story-2.jpg",
            category: "Kemanusiaan",
            time: "6 Oktober 2019",
            description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.",
            descriptionL: ``,
            views: 3
        },
        {
            title: "Karhutla, Asap, dan Perjuangan Keadilan Iklim", 
            link: "article.html",
            img: "story-3.jpg",
            category: "Bencana Alam",
            time: "12 Agustus 2019",
            description: "Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
            descriptionL: ``,
            views: 421
        },
        {
            title: "Sampah Plastik di Indonesia: Tanggung Jawab Semua Pihak", 
            link: "article.html",
            img: "story-4.jpg",
            category: "Sosial",
            time: "11 Agustus 2019",
            description: "Hic consequatur et quidem a facere atque esse, nam eligendi nesciunt placeat, rem quia, nemo explicabo quae reiciendis dolor non veniam possimus adipisci excepturi natus deleniti. Quam earum eaque veniam ea soluta, commodi vel iste non ab quidem quo voluptate fugiat animi atque, fugit sunt. Ad, inventore. Cum nisi quod sint quis doloribus natus ad dolorem quas tempore vero ducimus, sunt corporis vel ullam fuga mollitia officiis ex harum odit, earum aliquid itaque, enim eos!",
            descriptionL: ``,
            views: 642
        },
        {
            title: "Menikmati Hidup Sederhana di Desa", 
            link: "article.html",
            img: "story-5.jpg",
            category: "Gaya Hidup",
            time: "12 Agustus 2019",
            description: "Lecusandae est ratione nihil? Ipsa mollitia vero provident nulla reiciendis, hic officiis dolorum porro debitis dolorem blanditiis id illo necessitatibus sint. Quis eum ut corrupti dolor pariatur libero. Recusandae exercitationem repellat cupiditate ipsam amet earum hic, nostrum reiciendis eligendi voluptatibus corrupti! Quaerat quasi quo, cupiditate tenetur ad voluptatum at aliquid repellat possimus ratione? Expedita a magni eligendi repellat consequuntur vitae quaerat doloribus est molestias, aperiam, consequatur iure odit voluptas eius, sapiente reiciendis quas placeat! Hic eum voluptatibus ratione, quasi aliquam odit quos natus tempora ab. Est ipsam consequuntur aliquid accusantium natus illum.",
            descriptionL: ``,
            views: 42
        },
        {
            title: "Refleksi Hari Ini, Ada 5 Harapan untuk Indonesia yang Lebih Baik", 
            link: "article.html",
            img: "story-6.jpg",
            category: "Gaya Hidup",
            time: "26 Juli 2019",
            description: "Fuga possimus cupiditate ducimus omnis debitis harum ipsa odit labore vitae quod illo cum corporis culpa maiores totam id nam. Eum maxime incidunt voluptatem asperiores odit, voluptates ipsum dolore, eligendi possimus corrupti cumque architecto ad, quisquam illum fugiat quasi molestiae? Ullam, laudantium enim adipisci excepturi tenetur officiis repellat officia, atque nesciunt, recusandae magni facere nemo molestias autem! Veritatis accusamus temporibus impedit, unde minima animi accusantium minus delectus quaerat harum asperiores dolorem, cupiditate ex perferendis? Eaque!",
            descriptionL: ``,
            views: 352
        }
    ];
    

    var ziswafs = [
        {
            title: "Zakat",
            description: `Zakat Anda Mencetak Para Hafidz Baru`,
            program: "zakat",
            link: "zakat.html"
        },
        {
            title: "Infaq",
            description: `Infaq Itu Berlipat Ganda Pahalanya`,
            program: "infaq",
            link: "infaq.html"
        },
        {
            title: "Sedekah",
            description: `Sedekah Membuka Pintu Rezeki`,
            program: "sedekah",
            link: "sedekah.html"
        },
        {
            title: "Wakaf",
            description: `Wakaf Kita Surga Mereka`,
            program: "wakaf",
            link: "wakaf.html"
        }
    ]