section#sc-program
	.container-fluid
		.sc-program__inner
			.container
				.sc-program__inner__programs-wrapper
					include ../../../g-components/program-card
					for program in programs
						.sc-program__inner__program-wrapper
							+program-list(program)