section
	.container-fluid
		.article-slider
			a(href="article.html").article__slider
				img(src="uploads/images/article-07-1.jpg").article__slider__img
				.container
					h1.title.fcolor-primary.mato-10 Lorem Ipsum Dolor Sit Amet
					
			a(href="#!").article__slider
				img(src="uploads/images/article-07-1.jpg").article__slider__img
				.container
					h1.title.fcolor-primary.mato-10 Lorem Ipsum Dolor Sit Amet
				//- a.link-btn.link-btn-secondary.link-btn-xs(href='register.html') pendaftaran
					
        

section.sc-article-list
	.container-fluid
		.section-wrapper
			.container
				h1.title.align-center.fcolor-primary.mabo-10 Articles

				.row.masonry
					include ../../../g-components/article-card
					for article in articleLists
						.col-12.col-md-6.col-xl-4.masonry__item
							+article-list(article)