
// Loreg
section#sc-loreg
    .container-fluid
        .row

            .col-12.col-xl-6.order-xl-12
                .sc-loreg__right
                    img(src="img/logo-white.svg")
            
            .col-12.col-xl-6.order-xl-1
                .sc-loreg__left
                    form(action="#!")
                        .input-pack.input-pack--distance
                            .input-pack__label.label-text Email
                            input(type="email", placeholder="Masukan Email")
                        
                        .input-pack.input-pack--distance2
                            .input-pack__label.label-text Kata Sandi
                            input(type="password", placeholder="Masukan Kata Sandi")

                        input(type="submit", value="masuk").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg.link-btn-center

                    .body-text.mato-5.align-center Belum memiliki akun?
                    .align-center.mato-1
                        a(href="register.html").link-text Daftar
