section.sc-program-list
	.container-fluid
		.section-wrapper
			.container
				h1.title.align-center.fcolor-primary.mabo-10 Program<br>Pembelajaran<br>Kepemimpinan

				.row
					mixin pelatihan-list(pelatihan)
						.primary-card._v2(data-toggle='modal', data-target='#programModal')
							._img-wrapper(class=pelatihan.extraClass)
								img(src="img/"+ pelatihan.img)
							.label-text= pelatihan.title
					for pelatihan in programLists
						if pelatihan.type === "management"
							.col-12.col-xl-4
								+pelatihan-list(pelatihan)

				// Modal
				#programModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='programModalTitle', aria-hidden='true')
					.modal-dialog.modal-dialog-centered(role='document')
						.modal-content
							.ws.ws-close(data-dismiss="modal")
							.modal-content__wrapper
								for pelatihan in programLists.slice(3, 4)
									if pelatihan.type === "management"
										h2.title.align-center.fcolor-primary.mabo-10= pelatihan.title
									
										.primary-card._v2
											._img-wrapper(class=pelatihan.extraClass)
												img(src="img/"+ pelatihan.img)

							p.body-text.pale-5.pari-5 
								strong Pembekalan peserta 
								| dalam lingkup perundang-undangan dan peraturan yang terkait dengan perusahaan dan bidang usaha WIKA untuk memiliki orientasi kelola usaha yang piawai.


	.section-wrapper.sc-bg
		.container
			h1.title.align-center.fcolor-primary.mabo-10 Tertarik Dengan Program Kami?
			a(href="#!").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg.link-btn-center hubungi kami
