doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title Panahan Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy | !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar-logged
        //- Content Start
        main.Article
            include components/sc-article-detail
            
        include ../../layouts/footer
        include ../../layouts/links-bottom