
// Intro Section
section.bg-flower#sc-intro
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Persembahan<br>Untuk Bangsa!
                p.heading1.shadow-text.align-center Pembelajaran Kepemimpinan Berbasis Kearifan Lokal!

// Falsafah Section
section#sc-falsafah
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Falsafah
            .sc-falsafah__img.anti-c-fluid
                img(src="img/ws-img-falsafah.svg")

            .row(style="align-items:center;")
                .col-12.col-md-4
                    p.body-text Melalui kajian mendalam antara lain yang dilakukan bersama PPM Manajemen pada tahun 2011 dan Pusat Studi Pancasila Universitas Gajah Mada (UGM), WIKA tiba pada satu kesimpulan bahwa kepemimpinan merupakan unsur utama dalam mewujudkan kinerja prima. Berbagai telaah tersebut kemudian berlanjut dengan hadirnya inspirasi untuk menemukan kembali dan meletakkan kearifan nusantara sebagai landasan kepemimpinan dengan tiga fondasi khas Indonesia: Ketuhanan, Kemanusiaan, dan Alam.
                .col-12.col-md-4
                    img(src="img/falls.jpg" width="100%")
                .col-12.col-md-4
                    p.body-text Ketiga fondasi tersebut diejawantahkan dalam wujud religiusitas, pengharkatan, dan pelestarian.
                    p.body-text Ketuhanan, Kemanusiaan, dan Alam menjadi fondasi dalam model kepemimpinan yang diturunkan dalam silabus pelatihan. Inti dari segitiga ini, seperti terlihat pada gambar di samping, adalah tercapainya budi luhur. Pencerahan entitas budi luhur merupakan penghayatan tentang konsepsi pengosongan diri dari kebendaan, napsu, kekuasaan. 

// Misi Section
section#sc-misi
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Misi
            .anti-c-fluid
                img(src="img/ws-img-misi.jpg").img-responsive.mabo-10

            .container
                p.heading2.align-center.shadow-text Mengembangkan Pemimpin Sebagai Inspirator Bagi Kepemimpinan Kearifan Lokal Mewakili Indonesia Di Kancah Global

// One and Only Section
section#sc-one.bg-flower-center
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 The One &amp; Only

                .row
                    include ../../../g-components/primary-card
                    for primary in oneonlys
                        .col-12.col-md-6.col-lg-4 
                            +primary-card-list(primary)

// Proud Section
section#sc-proud.bg-flower
    .container-fluid
        .section-wrapper.bg-line
            .container
                p.heading1.align-center.shadow-text Bangga Menjadi Pemimpin Indonesia

// Programs Section
section#sc-programs
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Program 

            .sc-program__inner
                .container
                    .sc-program__inner__programs-wrapper
                        include ../../../g-components/program-card
                        for program in programs
                            .sc-program__inner__program-wrapper
                                +program-list(program)

// Facilities Section
section#sc-facilities.bg-flower-center
    .container-fluid
        .section-wrapper.bg-line
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Fasilitas Bintang<br>Lima

            .facilities-list
                .facilities-slider
                    include ../../../g-components/reservasi-card
                    for primary in facilities
                        .facilities-slider__wrapper
                            +primary-card-list(primary)  

// Alumni Section
section#sc-alumni.sc-alumni
    .container-fluid
        .section-wrapper
            .row
                .col-12.col-lg-6
                    h1.title.align-center.fcolor-primary.mabo-10 Alumni
                    .sc-alumni__wrapper
                        img(src="img/ws-img-alumni-giri-wijaya.jpg")

                        ._text-wrapper 
                            .sc-alumni__count
                                ._value 8
                                ._title Pelanggan
                                
                            .sc-alumni__count
                                ._value 1354
                                ._title Peserta

                            .sc-alumni__count
                                ._value 16
                                ._title Testimoni
                .col-12.col-lg-6
                    h1.title.align-center.fcolor-primary.mabo-10 Lokasi
                    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15852.04604120208!2d106.8608876!3d-6.6454914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5ecc882ec9fd75c!2sWikasatrian!5e0!3m2!1sid!2sid!4v1581492624891!5m2!1sid!2sid" allowfullscreen="")