header.main-header
    .header-slider
        .main-header__slider
            img(src="uploads/images/slider.jpg").main-header__slider__img
        .main-header__slider
            img(src="uploads/images/slider.jpg").main-header__slider__img
        .main-header__slider
            img(src="uploads/images/slider.jpg").main-header__slider__img
        