doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        //- Content Start
        main.Home
            
            include components/contents
            
        include ../../layouts/links-bottom
