doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title Reservasi | !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar-logged
        //- Content Start
        main.Home
            
            include components/contents-date
            
        include ../../layouts/footer
        include ../../layouts/links-bottom