doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title Masuk | !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar-login
        //- Content Start
        main.Loreg
            include components/contents
            
        include ../../layouts/links-bottom