.Home {
    margin-top: unset;
}


// About
#sc-about {

    img {
        display:block;
        height: 10.4rem;
    }
} 

// Intro

// Falsafah
.sc-falsafah {

    &__img {
        background-image: url('../img/falsafah-bg.jpg');
        background-size: cover;
        text-align: center;
        margin-bottom: 5.2rem;

        img {
            height: 82rem;
        }

        @media (max-width: 1199.98px) {

            img {
                height: 58rem;
            }
        }

        @media (max-width: 991.98px) {

            img {
                height: 28rem;
            }
        }
    }
}

// Misi

// One and Only

// Proud

// Programs

// Facilities
#sc-facilities {

    .facilities-list {
        margin: 0 -3.7rem;
    }

    .facilities-slider {

        &__wrapper {
            padding: 0 1.6rem;
        }
    }
}

//Map
#sc-map {


    
}

// Alumni
.sc-alumni {

    &__wrapper {
        position: relative;

        img {
            width: 100%;
            height: 64rem;
            object-fit: cover;
            object-position: left;

            @media (max-width: 767.98px) {
                height: 36.8rem;
            }
        }

        ._text-wrapper {
            position: absolute;
            // display: flex;
            top: 8rem;
            left: 10rem;
            // transform: translateX(-50%);

            @media (max-width: 767.98px) {
                display: unset;
                top: 4rem;
            }
        }
    }

    &__count {
        color: white;
        font-family: $font-family2;
        // text-align: center;
        // margin: 0 6.4rem;
        margin-bottom: 4.8rem;

        ._value {
            width: 21.2rem;
            height: 7.2rem;
            line-height: 7.2rem;
            font-size: 3.2rem;
            background-color: rgba(white, .28);
            border-radius: $rounded-small;
            letter-spacing: 1.594rem;
            font-weight: $fw-bold;
            text-align: center;
            // margin: 0 auto 1.2rem;
        }

        ._title {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: .307rem;
            margin-top: 1.2rem;
        }

        // &:first-child,
        // &:last-child {
            
        //     ._value {
        //         width: 16rem;
        //     };
        // }

        @media (max-width: 767.98px) {
            margin-bottom: 3.2rem !important;

            ._value {
                background-color: rgba(black, .4);
            }

            &:first-child,
            &:last-child {
                
                ._value {
                    width: unset;
                };
            }
        }
    }

    @media (max-width:1199.98px) {

        &__count {
            // margin: 0 3.2rem;

            ._value {
                width: 24rem;
                height: 4.2rem;
                line-height: 4.2rem;
                font-size: 2.8rem;
                font-size: 2rem;
            }

            ._title {
                font-size: 1.4rem;
            }
        }

        img {
            height: 48rem;
        }
    }
    
    @media (max-width:991.98px) {

        &__wrapper {
            margin-bottom: 4.8rem;

            ._text-wrapper {
                left: 50%;
                transform: translateX(-50%);

                .sc-alumni__count {
                    margin-bottom: 1.6rem;

                    ._title {
                        text-align: center;
                    }
                }
            }
        }

        img {
            height: 38rem;
        }
        

        &__count {
            margin: 0 3.2rem;
        }
    }

    iframe {
        width: 100%;
        height: 64rem;
        border: none;
    }

    @media (max-width: 1199.98px) {
        
        iframe {
            height: 48rem;
        }
    }
    
    @media (max-width: 576.98px) {
        
        iframe {
            height: 18rem;
        }
    }
}

.sc-contact {

    &__info {

        li {
            display: flex;
            margin-bottom: 2.4rem;

            .ws {
                font-size: 3.2rem;
                color: $color-primary;
                margin-right: 3.2rem;
            }
        }

        @media (max-width: 991.98px) {
            margin-top: 3.2rem;
        }
    }

}

.article {

    &-slider {
        
        .slick-prev, .slick-next {
            top: 32%;
        }
    }

    &__slider {
        width: 100%;
        margin-bottom: 8rem;

        &__img {
            width: 100%;
            height: 44rem;
            object-fit: cover;
        }

        &__text {
            display: flex;
        }

        @media (max-width: 767.98px) {
            margin-bottom: 4rem;

            &__img {
                height: 30rem;
            }
        }
    }

    @media (max-width: 991.98px) {
        overflow: hidden;

        .main-header {

            &__slider {
                height: 50rem;
            }
        }
    }

    @media (max-width: 767.98px) {

        .main-header {

            &__slider {
                height: 42rem;
            }
        }
    }
    
    @media (max-width: 575.98px) {

        .main-header {

            &__slider {
                height: 26rem;
            }
        }
    }
}

.testimony-slider {

    .slick-prev, .slick-next {
        opacity: .6;
        background-color: $color-primary;

        &:before, &:before {
            color: white;
        }
    }

    img {
        width: 100%;
    }
}

.facility-wrapper {
    
    img {
        height: 64rem;
        object-fit: cover;
    }

    @media (max-width:991.98px) {

        img {

            height: 32rem;
        }
    }
}