.Loreg {

    #sc-loreg {

        .row {

            .col-12.col-xl-6 {

                &:last-child {
                    overflow: hidden;
                    overflow-y: auto;
                    height: calc(100vh - 8rem);
                }
            }
        }
    }

    .sc-loreg {

        &__left {
            margin: 8rem auto;
            max-width: 35.2rem;
        }

        &__right {
            position: relative;
            height: calc(100vh - 8rem);
            background-image: url('../img/loreg-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            img {
                position: absolute;
                height: 10.2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media (max-width:1199.98px) {

        #sc-loreg {

            .row {
    
                .col-12.col-xl-6 {
    
                    &:first-child {
                        height: unset;
                    }
                }
            }
        }

        .sc-loreg {

            &__left {
                margin: 8rem auto;
                max-width: 35.2rem;
            }
    
            &__right {
                height: 16rem;
            }
        }
    }
}

.Dashboard {

    &__user {
        border: .1rem solid $color-gray2;
        color: $color-base;
        padding: 0 1.6rem;
        
        &__top {
            padding: 8rem 0;
            text-align: center;
            border-bottom: .2rem dashed $color-gray2;
            position: relative;

            .profile-drawer {
                position: absolute;
                left: 0;
                top: 1.6rem;
                font-size: 2.8rem;
                color: $color-gray2;
                cursor: pointer;
            }

            .profile-menu {
                display: none;
                background-color: white;
                position: absolute;
                top: 5.6rem;
                left: 0;
                width: 16rem;
                box-shadow: $shadow;
                border: .1rem solid $color-gray;

                li {

                    a {
                        font-family: $font-family2;
                        color: $color-base2;
                        font-size: 1.2rem;
                        font-weight: bold;
                        padding: .8rem 0;
                        display: block;
                    }

                    &:not(:last-child) {
                        border-bottom: .1rem solid $color-gray;
                    }
                }

                &._show {
                    display: block;
                }
            }

            @media (max-width:767.98px) {
                padding: 4rem 0;
            }

            &__img {
                margin-bottom: 4rem;
            }

            &__title {
                color: $color-base2;
                font-size: 2rem;
                font-weight: $fw-bold;
                letter-spacing: .256rem;
            }
        }

        &__bottom {
            padding: 8.8rem 0;

            @media (max-width:767.98px) {
                padding: 4rem 0;
            }

            &__menu {
                font-size: 2rem;
                letter-spacing: .256rem;

                li {

                    ._list {
                        color: $color-base;
                        display: inline-block;

                        i {
                            color: $color-primary;
                            font-size: 3.8rem;
                            margin-right: .8rem;
                            transform: translateY(1rem);
                            display: inline-block;
                        }
                    }

                    &:not(:last-child) {

                        ._list {
                            margin-bottom: 1.6rem;
                        }
                    }
                }

                @media (max-width:767.98px) {
                    font-size: 1.6rem;

                    li {

                        &:not(:last-child) {

                            ._list {
                                margin-bottom: unset;
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-tabs {
        display: flex;
        margin-bottom: 4rem;

        li {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            position: relative;

            &._notif {

                &::after {
                    display: inline-block;
                    content: '';
                    height: .8rem;
                    width: .8rem;
                    background-color: $color-error;
                    border-radius: 50%;
                    position: absolute;
                    right: 1.6rem;
                    top: 1.6rem;
                }
            }

            a {
                font-family: $font-family2;
                letter-spacing: .256rem;
                font-weight: $fw-bold;
                font-size: 2rem;
                text-align: center;
                padding: 1.8rem 0;
                border: .1rem solid $color-primary !important;
                border-radius: unset;

                @media (max-width:767.98px) {
                    font-size: 1.4rem;
                }

                &.active {
                    background-color: $color-primary;
                    color: white;
                }
            }
        }
    }
}

.galery-wrapper {
    margin-bottom: 6.4rem;
    display: block;
    
    img {
        width: 100%;
        height: 32rem;
        object-fit: cover;
    }

    .label-text {
        text-align: center;
        color: $color-primary;
    }

    @media (max-width: 575.98px) {
        
        img {
            height: 18rem;
        }
    }
}