// Float background
%float-bg {
    position:relative;
    z-index: 1;
    
    &::after {
        position:absolute;
        display:block;
        content: '';
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -1;
    }
}

@mixin navlink-icon {
    li {
        a {
            display: block;
            margin: 0 -1.6rem;
            padding: .8rem 1.6rem;
            // height: 3.2rem;
            position: relative;
            color: $color-base;
            opacity: .8;
            text-decoration: none;

            .akf {
                font-size: 2.4rem;
                margin-right: 1.6rem;
            }

            span {
                font-size: 1.6rem;
                display: inline-block;
            }
        }

        &._active {

            a {
                color: $color-primary;
                opacity: 1;
                font-weight: $fw-bold;
            }
        }
    }
}