@mixin link-btn-mx {
    font-family: $font-family2;
    display: inline-block;
    text-align: center;
    border: .1rem solid;
    font-weight: $fw-bold;
    outline: none !important;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    backface-visibility: hidden;
    box-shadow: $shadow;

    i,
    img {
        position: absolute;
        font-size: 3.4rem;
        height: 3.4rem;
        top: 50%;
        right: 2.4rem;
        transform: translateY(-50%);
    }

    // span {
    //     margin-left: 3.2rem;
    // }

    &:hover,
    &:active {
        text-decoration: none;
    }

    @media (min-width:768px) {
        &:hover {
            box-shadow: $shadow;
            filter: brightness(110%);
        }
    
        &:active {
            box-shadow: $shadow;
            filter: brightness(90%);
            transition: all .1s;
        }
    }
}

@mixin link-btn-color-mx($text-btn-color, $btn-color, $border-btn-color) {
    color: $text-btn-color !important;
    background-color: $btn-color;
    border-color: $border-btn-color;
    // &:hover {
    //     color: $text-btn-color;
    //     background-color: mix(black, $btn-color, 10%);
    //     border-color: mix(black, $border-btn-color, 10%);
    // }
    // &:active {
    //     background-color: mix(black, $btn-color, 20%);
    //     border-color: mix(black, $border-btn-color, 20%);
    // }
}