mixin article-list(article)
    a(href=article.link).article-card
        img(src="uploads/images/"+ article.img).article-card__img
        .label-text= article.title
        span.article-card__date= article.date
        p.body-text= article.desc