mixin pelatihan-list(pelatihan)
    a(href=pelatihan.link).primary-card._v2
        ._img-wrapper(class=pelatihan.extraClass)
            img(src="img/"+ pelatihan.img)
        .label-text= pelatihan.title