mixin reservasi-card-list(reservasi)
    label().primary-card._reservasi
        ._cb
            i.ws.ws-check
        img(src="uploads/images/"+ reservasi.img)
        .label-text= reservasi.title
        input(  type="checkbox",
                id="cb-reservasi",
                name="cb-resv-1",
                value="cb-resv-1")
    