mixin reservasi-date-card-list(reservasi)
    .reservasi-wrapper
        .primary-card._reservasi._small
            img(src="uploads/images/"+ reservasi.img)
            .label-text= reservasi.title
                .rp.ns 20000000

        .row
            .col-6 
                .body-text.mabo-3 Tanggal Mulai
                .input-pack
                    .input-wrap
                        i.ws.ws-calendar
                        input(type="text").datepicker-input
            .col-6
                .body-text.mabo-3 Tanggal Selesai
                .input-pack
                    .input-wrap
                        i.ws.ws-calendar
                        input(type="text").datepicker-input
