// Contact Section
section#sc-contact
    .container-fluid
        .section-wrapper
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Hubungi Kami

                .row
                    .col-12.col-lg-6
                        form(action="#!")
                            .input-pack.input-pack--distance
                                .input-pack__label.label-text Nama
                                input(type="text", placeholder="Masukan Nama")

                            .input-pack.input-pack--distance
                                .input-pack__label.label-text Email
                                input(type="email", placeholder="Masukan Email")
                            
                            .input-pack.input-pack--distance
                                .input-pack__label.label-text Nomor Telepon
                                input(type="number", placeholder="Masukan Nomor Telepon")

                            .input-pack.input-pack--distance
                                .input-pack__label.label-text Judul
                                input(type="text", placeholder="Masukan Judul")
                            
                            .input-pack.input-pack--distance
                                .input-pack__label.label-text Pesan/Pertanyaan
                                textarea(placeholder="Tuliskan Pesan/Pertanyaan")

                            input(type="submit", value="kirim").link-btn.link-btn-primary.link-btn-lg.link-btn-w-full.link-btn-center
                    .col-12.col-lg-6
                        ul.sc-contact__info
                            li
                                i.ws.ws-location
                                p.body-text Jl. Pasir Angin, Cipayung<br>Datar, Kec. Megamendung,<br>Bogor, Jawa Barat 16770

                            li
                                i.ws.ws-phone
                                a(href="tel:+6281310422887").body-text 0813 1042 2887
                        
                        a(href="#!").link-btn.link-btn-wa.link-btn-lg.link-btn-w-full.link-btn-center kontak whatsapp
                            i.ws.ws-wa