doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar-home
        //- Content Start
        main.Home
            include components/header
            include components/contents
            
        include ../../layouts/footer
        include ../../layouts/links-bottom

        script.
            $('.header-slider').slick({
            centerMode: true,
            dots:true,
            arrows:true,
            centerPadding: '0',
            slidesToShow: 1,
            });

            $('.facilities-slider').slick({
            centerMode: true,
            dots:false,
            arrows:true,
            centerPadding: '12%',
            slidesToShow: 3,
            responsive: [
                {
                breakpoint: 1200,
                settings: {
                    slidesToShow: 3,
                }
                },
                {
                breakpoint: 992,
                settings: {
                    slidesToShow: 2
                }
                },
                {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1
                }
                }
            ]
            });