.no-overflow {
    overflow: hidden;
}

.main-header {

    &__slider {
        width: 100%;
        height: calc(100vh - 0px);
        // max-height: 60.6rem;
        position: relative;

        &__logo {
            height: 10.2rem;
            position: absolute;
            left: 50%;
            top: 4rem;
            transform: translateX(-50%);
            // z-index: 2;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 991.98px) {
        overflow: hidden;

        .main-header {

            &__slider {
                height: 50rem;

                &__logo {
                    height: 6.4rem;
                }
            }
        }
    }

    @media (max-width: 767.98px) {

        .main-header {

            &__slider {
                height: 42rem;
            }
        }
    }
    
    @media (max-width: 575.98px) {

        .main-header {

            &__slider {
                height: 26rem;

                &__logo {
                    height: 4rem;
                }
            }
        }
    }
}

main {

    [class*="sc-"] {
    
        ._wrapper {
            padding: 16rem 0;
            background-image: url('../img/line-bg.svg');
            background-size: contain;
            background-repeat: repeat-y;
            // border-left: .1rem solid $color-primary-light;
            // border-right: .1rem solid $color-primary-light;

            &._nobg {
                background-image: unset;
            }
        }
    }
}

.split-inputs {
    display: flex;

    .split-input {

        &:not(:last-child) {
            margin-right: 3.2rem;
        }
    }
}