.right {
    float: right !important;
}

.anti-c-fluid {
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: 768px) {
        margin-left: -37px;
        margin-right: -37px;
    }
}

@for $i from 1 through 14 {
    // Margin
    .ma {
        // Top
        &to { 
            &-#{$i} {
                margin-top: $egs * $i !important;
            }
        }
        // Bottom
        &bo { 
            &-#{$i} {
                margin-bottom: $egs * $i !important;
            }
        }
        // Left
        &le { 
            &-#{$i} {
                margin-left: $egs * $i !important;
            }
        }
        // Right
        &ri { 
            &-#{$i} {
                margin-right: $egs * $i !important;
            }
        }
    }
    .pa {
        // Top
        &to { 
            &-#{$i} {
                padding-top: $egs * $i !important;
            }
        }
        // Bottom
        &bo { 
            &-#{$i} {
                padding-bottom: $egs * $i !important;
            }
        }
        // Left
        &le { 
            &-#{$i} {
                padding-left: $egs * $i !important;
            }
        }
        // Right
        &ri { 
            &-#{$i} {
                padding-right: $egs * $i !important;
            }
        }
    }
}

@media (max-width: 1199.98px) {

    $half-egs: $egs / 2;

    @for $i from 1 through 14 {
        // Margin
        .ma {
            // Top
            &to { 
                &-#{$i} {
                    margin-top: $half-egs * $i !important;
                }
            }
            // Bottom
            &bo { 
                &-#{$i} {
                    margin-bottom: $half-egs * $i !important;
                }
            }
            // Left
            &le { 
                &-#{$i} {
                    margin-left: $half-egs * $i !important;
                }
            }
            // Right
            &ri { 
                &-#{$i} {
                    margin-right: $half-egs * $i !important;
                }
            }
        }
        .pa {
            // Top
            &to { 
                &-#{$i} {
                    padding-top: $half-egs * $i !important;
                }
            }
            // Bottom
            &bo { 
                &-#{$i} {
                    padding-bottom: $half-egs * $i !important;
                }
            }
            // Left
            &le { 
                &-#{$i} {
                    padding-left: $half-egs * $i !important;
                }
            }
            // Right
            &ri { 
                &-#{$i} {
                    padding-right: $half-egs * $i !important;
                }
            }
        }
    }
}

.f {

    &w {

        &-bold {

            font-weight: $fw-bold;
        }
    } 

    &color {

        &-primary {

            color: $color-primary !important;
        }

        &-secondary {

            color: $color-secondary !important;
        }

        &-base2 {
            color: $color-base2 !important;
        }
    }

    &size {

        &-p {

            &-2 {

                font-size: $font-body + .2;
            }
        }
    }
}

.align-center {
    text-align: center;
}

.content-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.img-responsive {
    width: 100%;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shadow {
    
    &10 {

        box-shadow: $shadow;
    }
    &20 {

        box-shadow: $shadow;
    }
    &40 {

        box-shadow: $shadow;
    }
    &60 {

        box-shadow: $shadow;
    }
}

.avatar {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    object-fit: cover;
}

.badges {
    min-width: 16rem;
    height: 4rem;
    border-radius: 2.2rem;
    line-height: 4rem;
    color: white;
    font-size: 2rem;
    font-weight: $fw-bold;
    letter-spacing: .128rem;
    text-align: center;
    padding: 0 1.6rem;

    &--success {
        background-color: $color-success;
    }
    
    &--info {
        background-color: $color-info;
    }
    
    &--error {
        background-color: $color-error;
    }
    
    &--process {
        background-color: $color-process;
    }
}

.sc-bg {
    background-image: unset !important;
    background-color: $color-gray;
}

.main-title {
    letter-spacing: 1.594rem;
    color: $color-primary;
    text-align: center;
    margin-bottom: 8rem;
}

.main-subtitle {
    letter-spacing: .512rem;
    color: $color-primary;
    text-align: center;
    margin-bottom: 3.2rem;
}


.title {
    font-family: $font-family2;
    font-size: 4.8rem;
    line-height: 1.5;
    letter-spacing: 1.594rem;

    @media (max-width: 1199.98px) {
        font-size: 3.2rem;
    }

    @media (max-width: 767.98px) {
        font-size: 2.6rem;
        letter-spacing: unset;
    }
}

.label-text {
    font-family: $font-family2;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: .307rem;

    @media (max-width:575.98px) {
        font-size: 1.8rem;
    }
}

.label2-text {
    font-size: 1.6rem;
    color: $color-gray2;
}

.body-text {
    font-size: 2rem;
    line-height: 1.43;
    letter-spacing: .358rem;

    @media (max-width: 767.98px) {
        font-size: 1.6rem;
    }
}

.heading1 {
    font-size: 8rem;
    font-family: $font-family2;
    font-weight: $fw-bold;
    color: $color-primary;

    @media (max-width: 1199.98px) {
        font-size: 4rem;
    }

    @media (max-width: 767.98px) {
        font-size: 2.4rem;
    }
}

.heading2 {
    font-size: 4rem;
    font-family: $font-family2;
    font-weight: $fw-bold;
    line-height: 1.8;
    letter-spacing: .512rem;
    color: $color-primary;

    @media (max-width: 1199.98px) {
        font-size: 2.8rem;
    }

    @media (max-width: 767.98px) {
        font-size: 2rem;
    }
}

.shadow-text {
    text-shadow: 0 1rem 0 $color-primary-light;
}

.link-text {
    font-size: 2rem;
    margin-left: auto;
    color: $color-primary;
}

.main-img {
    margin-bottom: 5.6rem;
    width: 100%;
}

.section-wrapper {
    padding: 16rem 0;

    @media (max-width: 1199.98px) {
        padding: 8rem 0;
    }

    @media (max-width: 767.98px) {
        padding: 4rem 0;
    }
}

.bo-section-wrapper {
    padding: 0 0 16rem;
}

.bg-line {
    background-image: url('../img/line-bg.svg');
    background-size: contain;
    background-repeat: repeat-y;
}

.bg-flower {
    position: relative;
    
    &::before,
    &::after {
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        top :0;
    }

    &::before {
        background-image: url('../img/flower-left.svg');
        background-position: left top 14rem;

    }

    &::after {
        background-image: url('../img/flower-right.svg');
        background-position: right top 14rem;
    }

    @media (max-width:1199.98px) {

        &::before,
        &::after {
            background-size: 14%;
        }

        &::before {
            background-position: left top 4rem;
    
        }
    
        &::after {
            background-position: right top 4rem;
        }
    }
}

.bg-flower-center {
    position: relative;
    background-repeat: no-repeat;
    top :0;
    background-image: url('../img/flower-center.svg');
    background-position: center top 4rem;

    @media (max-width:991.98px) {
        background-position: center top;
        background-size: 20%;    
    }
}

// Rupiah
.rp {
    
    &::before {
        display: inline-block;
        content: 'Rp';
        margin-right: .4rem;
    }
}