@font-face {
  font-family: 'wikasatrian';
  src:  url('../fonts/wikasatrian.eot?tb05zq');
  src:  url('../fonts/wikasatrian.eot?tb05zq#iefix') format('embedded-opentype'),
    url('../fonts/wikasatrian.ttf?tb05zq') format('truetype'),
    url('../fonts/wikasatrian.woff?tb05zq') format('woff'),
    url('../fonts/wikasatrian.svg?tb05zq#wikasatrian') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ws {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wikasatrian' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ws-building:before {
  content: "\e900";
}
.ws-calendar:before {
  content: "\e901";
}
.ws-caret-down:before {
  content: "\e902";
}
.ws-check:before {
  content: "\e903";
}
.ws-download:before {
  content: "\e904";
}
.ws-envelope:before {
  content: "\e905";
}
.ws-eye-slash:before {
  content: "\e906";
}
.ws-eye:before {
  content: "\e907";
}
.ws-menu:before {
  content: "\e908";
}
.ws-phone:before {
  content: "\e909";
}
.ws-time:before {
  content: "\e90a";
}
.ws-user:before {
  content: "\e90b";
}
.ws-arrow-left:before {
  content: "\e90c";
}
.ws-arrow-left2:before {
  content: "\e90d";
}
.ws-arrow-right:before {
  content: "\e90e";
}
.ws-arrow-right2:before {
  content: "\e90f";
}
.ws-back:before {
  content: "\e910";
}
.ws-bars:before {
  content: "\e911";
}
.ws-close:before {
  content: "\e912";
}
.ws-fb:before {
  content: "\e913";
}
.ws-ig:before {
  content: "\e914";
}
.ws-location:before {
  content: "\e915";
}
.ws-tw:before {
  content: "\e916";
}
.ws-wa:before {
  content: "\e917";
}
.ws-ws:before {
  content: "\e918";
}
.ws-yt:before {
  content: "\e919";
}
