.cb {
    height: 2.4rem;

    input[type="checkbox"] {
        display: none;
    }

    &__label {
        font-size: 1.6rem;
        margin-left: 1.6rem;
        transform: translateY(-3px);
        display: inline-block;
        
        span {
            opacity: .8;
        }
    }

    &::before {
        font-family: 'aksikode-fonts' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        display: inline-block;
        content: '\e90c';
        width: 2.4rem;
        height: 2.4rem;
        border-radius: $rounded-small;
        color: white;
        background-color: white;
        border: .1rem solid mix($color-base-real, white, 20%);

        font-size: 2rem;
        text-align: center;
        line-height: 2.2rem;
        transition: all .2s;
    }

    &--checked {

        &::before {
            content: '\e90c';
            background-color: $color-primary;
            border: .1rem solid $color-primary;
        }
    }
}
  
[type="number"] {
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0;
    }
}

.pseuinput {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pseuinput,
textarea,
select,
input {
    background-color: white;
    border: .1rem solid $color-gray2;
    color: $color-base;
    height: 5.6rem;
    outline: none;
    width: 100%;
    padding: 0 1.6rem;
    font-size: 2rem;
    transition: all .4s ease-in-out;
    
    span {
        @extend .truncate;
        line-height: 4.8rem;
    }


    &::-webkit-input-placeholder { // Edge 
        color: $color-gray2;
    }
        
    &:-ms-input-placeholder { // Internet Explorer 10-11
        color: $color-gray2;
    }
        
    &::placeholder {
        color: $color-gray2;
    }

    &:focus {
        border: .1rem solid $color-primary;
    }
}

textarea {
    height: 7.2rem;
    padding: 1.6rem;
}

input:disabled {
    background-color: $color-gray;
}


.input-pack {
    position: relative;

    &--distance {
        margin-bottom: 3.2rem;
    }

    &--distance2 {
        margin-bottom: 4rem;
    }

    &__label {
        margin-bottom: 2.4rem;
        color: $color-primary;
    }

    .body-text {
        margin-bottom: 4rem;
    }

    small {
        margin-top: .8rem;
        display: block;
        font-weight: bold;
    }

    &--error {

        input {
            color: $color-error;
            border-color: $color-error;
            background-color: mix($color-error, white, 10%);
        }

        small {
            color: $color-error;
        }
    }
}

.input-wrap {
    position: relative;

    i {
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2.8rem;
        color: $color-primary;
    }

    &--il {

        i {
            right: unset;
            left: 1.6rem;
        }

        .pseuinput,
        textarea,
        select,
        input {
            padding-left: 4rem;
        }
    }
}

.select-file {
    margin-bottom: 4rem;

    &__label {
        color: $color-base2;
        margin-bottom: .4rem;
    }

    label {
        margin-right: 1.6rem;

        input[type="file"] {
            display: none;
        }
    }
}

.img-upload {
    display: flex;
    align-items: center;

    img {
        margin-right: 1.6rem;
    }

    ._right {
        flex: 1;
    }

    &__label {
        display: block;
        margin-top: .8rem;
    }
}