@import 'mixins/links';

.link-btn {
    @include link-btn-mx;

    //
    // &-center {
    //     margin-left: auto;
    //     margin-right: auto;
    // }

    // height
    &-xs {
        height: 3.2rem;
        font-size: 1.4rem;
        line-height: 3rem;
    }

    &-xs-p {
        height: 4rem;
        font-size: 1.4rem;
        line-height: 3.8rem;
        letter-spacing: 2.56px;
    }

    &-sm {
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 4.4rem;
    }
    &-md {
        height: 5.6rem;
        font-size: 1.6rem;
        line-height: 5.2rem;
    }
    &-lg {
        height: 6.4rem;
        font-size: 2rem;
        line-height: 6.2rem;
    }

    // width
    &-w-xs {
        width: 100%;
        max-width: 16rem;
    }
    &-w-sm {
        width: 100%;
        max-width: 18rem;
    }
    &-w-md {
        width: 100%;
        max-width: 35.2rem;
    }
    &-w-lg {
        width: 100%;
        max-width: 54.4rem;
    }
    &-w-full {
        width: 100%;
    }

    &-center {
        margin: 0 auto;
        display: block;
    }

    //Clear
    &-noshadow {
        box-shadow:unset;
    }

    // color
    &-primary {
        @include link-btn-color-mx(
            white,           // Color
            $color-primary,    // Bg Color
            $color-primary     // Bdr Color
        );
    }
    &-secondary {
        @include link-btn-color-mx(
            $color-primary,     // Color
            white,        // Bg Color
            $color-primary      // Bdr Color
        );
    }
    &-clear {
        @include link-btn-color-mx(
            $color-base,     // Color
            transparent,        // Bg Color
            transparent     // Bdr Color
        );
    }
    &-fb {
        @include link-btn-color-mx(
            white, 
            $color-fb,  
            $color-fb 
        );
    }
    &-wa {
        @include link-btn-color-mx(
            white, 
            $color-wa,  
            $color-wa 
        );
    }
    &-gg {
        @include link-btn-color-mx(
            $color-base,
            white,  
            $color-gray2
        );
    }
}