@import url($font-source);

::selection {
    background-color: $color-primary;
    color: white;
}

html {
    font-size: $font-base;
}

body {
    font-family: $font-family;
    font-size: $font-body;
    font-weight: $fw-normal;
    line-height: $lh-base;
    color: $color-base;
    background-color: $color-bg;
}

main {
    // margin-top: $nav-height;
    // overflow-x: hidden;
    min-height: calc(100vh - 40.4rem);

    @media (max-width: 991.98px) {
        // margin-top: $nav-height-sm;
        min-height: calc(100vh - 14.6rem);
    }
}

button {
    padding: 0;
    background-color: white;
}

article {
    @extend .body-text;

    p {
        margin-bottom: 5.6rem;
    }
}

label {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-primary;

    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
    display: block;
    margin-bottom: 0;
    font-family: $font-family2;
    font-weight: $fw-normal;
    
}

h1 {
    font-size: 4.8rem;
    line-height: 1.5;
}

h2 {
    font-size: 4rem;
    line-height: 1.4;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

h4 {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

@media (max-width:991.98px) {

}

@media (max-width:767.98px) {

}

@media (max-width:575.98px) {
    h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

ol {

    &.ls-loro {
        list-style-type:lower-roman;
    }
    &.ls-init {
        list-style-type:initial;
    }
}

main {
    // margin-top: 8rem;
    overflow: hidden;
}

%container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {

    &-sm {
        @extend %container;
    }

    &-xs {
        @extend %container;
    }
}


@media (min-width: 576px) {
    .container {
    
        &-sm {
            max-width: 540px;
        }
    
        &-xs {
            max-width: 540px;
        }
    }
}
  
@media (min-width: 768px) {
    .container {
        
        &-sm {
            max-width: 720px;
        }
    
        &-xs {
            max-width: 720px;
        }
    }
}
  
@media (min-width: 992px) {
    .container {
      
        &-sm {
            max-width: 73.6rem;
        }
    
        &-xs {
            max-width: 54.4rem;
        }
    }
}
  
@media (min-width: 1200px) {
    .container {
        
        &-sm {
            max-width: 73.6rem;
        }
    
        &-xs {
            max-width: 54.4rem;
        }
    }
}

// modal
.modal-dialog {
    @media (min-width: 576px) {
        max-width: 44rem !important;
    }

    .modal-content {
        padding: 2.4rem !important;

        h2 {
            margin-bottom: 2.4rem;
        }

        ._icon {
            margin-bottom: 2.4rem;
        }

        ._paragh {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $color-base2;
            width: 90%;
            margin: 0 auto 2.4rem;
        }
    }
}

.container-fluid {

    @media (min-width: 768px) {
        padding-right: 37px;
        padding-left: 37px;
    }
}