// ##########################################################################
// ######## FONTS
$font-source: 'https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|EB+Garamond:400,500,700&display=swap';
$font-family: 'EB Garamond', serif;
$font-family2: 'Cinzel Decorative', cursive;
$font-base: 10px; // for setting 'rem' value (equal = 1rem);
$font-body: 1.4rem; // body text
$fw-normal: 400; // font-weight: normal
$fw-medium: 500; // font-weight: bold
$fw-bold: 700; // font-weight: bold
$lh-base: 1.5; // line-height

// ##########################################################################
// ######## COLORS
// Theme Colors
$color-bg: white;

$color-base-real: #25353C;
$color-primary-real: #00AEEF;
$color-secondary-real: #8DC63F;

$color-base: #656565;
$color-base2: #3b3b3b;
$color-primary: #a1722a;
$color-primary-light: #FEF3E7;
$color-secondary: #8DC63F;
$color-gray: #f6f6f6;
$color-gray2: #bdbdbd;
$color-gray3: #F9FDFF;

// Semantic Colors
$color-success: #4dce81;
$color-info: #2da9f4;
$color-process: #4666e5;
$color-error: #ea4d4d;

// Other Colors
$color-fb: #4167b1;
$color-wa: #25D366;
$color-tw: #55ACEE;

// ##########################################################################
// ######## MISCELLANEOUS
$nav-height: 8rem;
$nav-height-sm: 5.6rem;

$shadow: 0 .8rem 1.6rem 0 rgba(161, 114, 42, 0.08);

$border-thin: .1rem solid #f2f2f3;
$border-regular: .1rem solid #ababaf;
$border-red: .1rem solid $color-error;
$border-green: .1rem solid $color-success;

$rounded-small: .4rem;
$rounded-medium: .6rem;
$rounded-large: .8rem;
$rounded-xlarge: 1.6rem;
$rounded-full: 7.2rem;
$rounded-circle: 50%;
$egs: .8rem;
$cbzr: cubic-bezier(.59,.17,0,1.58);