//
.slick-slide {
    outline: none !important;

    a {
        outline: none !important;
    }
}

.slick-prev,
.slick-next
{
    @extend .shadow40;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 32px;
    height: 32px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background-color: white;
    opacity: .2;
    transition: .2s ease-in-out;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    opacity: 1;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'wikasatrian' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 3.2rem;
    line-height: 1;

    opacity: .75;
    color: $color-base;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 24px;
    z-index: 99;
}
[dir='rtl'] .slick-prev
{
    right: 24px;
    left: auto;
}
.slick-prev:before
{
    content: '\e90c';
}
[dir='rtl'] .slick-prev:before
{
    content: '\e90c';
}

.slick-next
{
    right: 24px;
    z-index: 99;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 24px;
}
.slick-next:before
{
    content: '\e90e';
}
[dir='rtl'] .slick-next:before
{
    content: '\e90e';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: unset;

    @media (min-width:992px) {
        margin-bottom: unset;
    }
}

.slick-dots
{
    position: absolute;
    bottom: 2.4rem;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;

    @media (min-width:992px) {
        bottom: 4rem;
    }
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 1.6rem;
    height: 1.6rem;
    margin: 0 22px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 1.6rem;
    height: 1.6rem;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    // font-family: 'slick';
    font-size: 6px;
    line-height: .4rem;

    position: absolute;
    top: 0;
    left: 0;

    width: 1.6rem;
    height: 1.6rem;

    content: '';
    text-align: center;
    border: .2rem solid white;
    border-radius: $rounded-full;

    opacity: .8;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: all .2s;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    border: .4rem solid white;
}

.slick-left-align > .slick-list > .slick-track {    
    margin-left:0;
}

.modal-dialog {

    @media (min-width: 576px) {
        max-width: 60.8rem;
    }
    
    .modal-content {
        padding: 6.4rem 0 !important;
        border: none;
        border-radius: $rounded-small;
        box-shadow: $shadow;

        .ws-close {
            font-size: 4.8rem;
            position: absolute;
            right: 1.6rem;
            top: 1.6rem;
            cursor: pointer;
            color: $color-primary;
        }
    }
}

//Modal
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 90% !important;
    }

    .modal-content {
        padding: 3.2rem 1.6rem !important;
        position: relative;

        &__wrapper {
            max-width: 64rem;
            margin: 0 auto;
            text-align: center;

            .primary-card {
                width: 32rem;
                margin: 0 auto;
            }

        }
        .body-text {
            margin-top: 3.2rem;
            text-align: left;
        }
    }
}