@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|EB+Garamond:400,500,700&display=swap");
@font-face {
  font-family: 'wikasatrian';
  src: url("../fonts/wikasatrian.eot?tb05zq");
  src: url("../fonts/wikasatrian.eot?tb05zq#iefix") format("embedded-opentype"), url("../fonts/wikasatrian.ttf?tb05zq") format("truetype"), url("../fonts/wikasatrian.woff?tb05zq") format("woff"), url("../fonts/wikasatrian.svg?tb05zq#wikasatrian") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.ws {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wikasatrian' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ws-building:before {
  content: "\e900"; }

.ws-calendar:before {
  content: "\e901"; }

.ws-caret-down:before {
  content: "\e902"; }

.ws-check:before {
  content: "\e903"; }

.ws-download:before {
  content: "\e904"; }

.ws-envelope:before {
  content: "\e905"; }

.ws-eye-slash:before {
  content: "\e906"; }

.ws-eye:before {
  content: "\e907"; }

.ws-menu:before {
  content: "\e908"; }

.ws-phone:before {
  content: "\e909"; }

.ws-time:before {
  content: "\e90a"; }

.ws-user:before {
  content: "\e90b"; }

.ws-arrow-left:before {
  content: "\e90c"; }

.ws-arrow-left2:before {
  content: "\e90d"; }

.ws-arrow-right:before {
  content: "\e90e"; }

.ws-arrow-right2:before {
  content: "\e90f"; }

.ws-back:before {
  content: "\e910"; }

.ws-bars:before {
  content: "\e911"; }

.ws-close:before {
  content: "\e912"; }

.ws-fb:before {
  content: "\e913"; }

.ws-ig:before {
  content: "\e914"; }

.ws-location:before {
  content: "\e915"; }

.ws-tw:before {
  content: "\e916"; }

.ws-wa:before {
  content: "\e917"; }

.ws-ws:before {
  content: "\e918"; }

.ws-yt:before {
  content: "\e919"; }

::selection {
  background-color: #a1722a;
  color: white; }

html {
  font-size: 10px; }

body {
  font-family: "EB Garamond", serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #656565;
  background-color: white; }

main {
  min-height: calc(100vh - 40.4rem); }
  @media (max-width: 991.98px) {
    main {
      min-height: calc(100vh - 14.6rem); } }

button {
  padding: 0;
  background-color: white; }

article p {
  margin-bottom: 5.6rem; }

label {
  margin: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #a1722a; }
  a:hover {
    color: #a1722a;
    text-decoration: none; }

p {
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5 {
  display: block;
  margin-bottom: 0;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 400; }

h1 {
  font-size: 4.8rem;
  line-height: 1.5; }

h2 {
  font-size: 4rem;
  line-height: 1.4; }

h3 {
  font-size: 1.8rem;
  line-height: 2.4rem; }

h4 {
  font-size: 1.4rem;
  line-height: 2.4rem; }

@media (max-width: 575.98px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3.2rem; } }

ol.ls-loro {
  list-style-type: lower-roman; }

ol.ls-init {
  list-style-type: initial; }

main {
  overflow: hidden; }

.container-sm, .container-xs {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container-sm {
    max-width: 540px; }
  .container-xs {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container-sm {
    max-width: 720px; }
  .container-xs {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-sm {
    max-width: 73.6rem; }
  .container-xs {
    max-width: 54.4rem; } }

@media (min-width: 1200px) {
  .container-sm {
    max-width: 73.6rem; }
  .container-xs {
    max-width: 54.4rem; } }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 44rem !important; } }

.modal-dialog .modal-content {
  padding: 2.4rem !important; }
  .modal-dialog .modal-content h2 {
    margin-bottom: 2.4rem; }
  .modal-dialog .modal-content ._icon {
    margin-bottom: 2.4rem; }
  .modal-dialog .modal-content ._paragh {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #3b3b3b;
    width: 90%;
    margin: 0 auto 2.4rem; }

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 37px;
    padding-left: 37px; } }

.link-btn {
  font-family: "Cinzel Decorative", cursive;
  display: inline-block;
  text-align: center;
  border: .1rem solid;
  font-weight: 700;
  outline: none !important;
  cursor: pointer;
  position: relative;
  transition: all .3s;
  backface-visibility: hidden;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08); }
  .link-btn i,
  .link-btn img {
    position: absolute;
    font-size: 3.4rem;
    height: 3.4rem;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%); }
  .link-btn:hover, .link-btn:active {
    text-decoration: none; }
  @media (min-width: 768px) {
    .link-btn:hover {
      box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08);
      filter: brightness(110%); }
    .link-btn:active {
      box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08);
      filter: brightness(90%);
      transition: all .1s; } }
  .link-btn-xs {
    height: 3.2rem;
    font-size: 1.4rem;
    line-height: 3rem; }
  .link-btn-xs-p {
    height: 4rem;
    font-size: 1.4rem;
    line-height: 3.8rem;
    letter-spacing: 2.56px; }
  .link-btn-sm {
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 4.4rem; }
  .link-btn-md {
    height: 5.6rem;
    font-size: 1.6rem;
    line-height: 5.2rem; }
  .link-btn-lg {
    height: 6.4rem;
    font-size: 2rem;
    line-height: 6.2rem; }
  .link-btn-w-xs {
    width: 100%;
    max-width: 16rem; }
  .link-btn-w-sm {
    width: 100%;
    max-width: 18rem; }
  .link-btn-w-md {
    width: 100%;
    max-width: 35.2rem; }
  .link-btn-w-lg {
    width: 100%;
    max-width: 54.4rem; }
  .link-btn-w-full {
    width: 100%; }
  .link-btn-center {
    margin: 0 auto;
    display: block; }
  .link-btn-noshadow {
    box-shadow: unset; }
  .link-btn-primary {
    color: white !important;
    background-color: #a1722a;
    border-color: #a1722a; }
  .link-btn-secondary {
    color: #a1722a !important;
    background-color: white;
    border-color: #a1722a; }
  .link-btn-clear {
    color: #656565 !important;
    background-color: transparent;
    border-color: transparent; }
  .link-btn-fb {
    color: white !important;
    background-color: #4167b1;
    border-color: #4167b1; }
  .link-btn-wa {
    color: white !important;
    background-color: #25D366;
    border-color: #25D366; }
  .link-btn-gg {
    color: #656565 !important;
    background-color: white;
    border-color: #bdbdbd; }

.cb {
  height: 2.4rem; }
  .cb input[type="checkbox"] {
    display: none; }
  .cb__label {
    font-size: 1.6rem;
    margin-left: 1.6rem;
    transform: translateY(-3px);
    display: inline-block; }
    .cb__label span {
      opacity: .8; }
  .cb::before {
    font-family: 'aksikode-fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    content: '\e90c';
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    color: white;
    background-color: white;
    border: 0.1rem solid #d3d7d8;
    font-size: 2rem;
    text-align: center;
    line-height: 2.2rem;
    transition: all .2s; }
  .cb--checked::before {
    content: '\e90c';
    background-color: #a1722a;
    border: 0.1rem solid #a1722a; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.pseuinput {
  cursor: pointer; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.pseuinput,
textarea,
select,
input {
  background-color: white;
  border: 0.1rem solid #bdbdbd;
  color: #656565;
  height: 5.6rem;
  outline: none;
  width: 100%;
  padding: 0 1.6rem;
  font-size: 2rem;
  transition: all .4s ease-in-out; }
  .pseuinput span,
  textarea span,
  select span,
  input span {
    line-height: 4.8rem; }
  .pseuinput::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  input::-webkit-input-placeholder {
    color: #bdbdbd; }
  .pseuinput:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder,
  input:-ms-input-placeholder {
    color: #bdbdbd; }
  .pseuinput::placeholder,
  textarea::placeholder,
  select::placeholder,
  input::placeholder {
    color: #bdbdbd; }
  .pseuinput:focus,
  textarea:focus,
  select:focus,
  input:focus {
    border: 0.1rem solid #a1722a; }

textarea {
  height: 7.2rem;
  padding: 1.6rem; }

input:disabled {
  background-color: #f6f6f6; }

.input-pack {
  position: relative; }
  .input-pack--distance {
    margin-bottom: 3.2rem; }
  .input-pack--distance2 {
    margin-bottom: 4rem; }
  .input-pack__label {
    margin-bottom: 2.4rem;
    color: #a1722a; }
  .input-pack .body-text, .input-pack article {
    margin-bottom: 4rem; }
  .input-pack small {
    margin-top: .8rem;
    display: block;
    font-weight: bold; }
  .input-pack--error input {
    color: #ea4d4d;
    border-color: #ea4d4d;
    background-color: #fdeded; }
  .input-pack--error small {
    color: #ea4d4d; }

.input-wrap {
  position: relative; }
  .input-wrap i {
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.8rem;
    color: #a1722a; }
  .input-wrap--il i {
    right: unset;
    left: 1.6rem; }
  .input-wrap--il .pseuinput,
  .input-wrap--il textarea,
  .input-wrap--il select,
  .input-wrap--il input {
    padding-left: 4rem; }

.select-file {
  margin-bottom: 4rem; }
  .select-file__label {
    color: #3b3b3b;
    margin-bottom: .4rem; }
  .select-file label {
    margin-right: 1.6rem; }
    .select-file label input[type="file"] {
      display: none; }

.img-upload {
  display: flex;
  align-items: center; }
  .img-upload img {
    margin-right: 1.6rem; }
  .img-upload ._right {
    flex: 1; }
  .img-upload__label {
    display: block;
    margin-top: .8rem; }

.right {
  float: right !important; }

.anti-c-fluid {
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 768px) {
    .anti-c-fluid {
      margin-left: -37px;
      margin-right: -37px; } }

.mato-1 {
  margin-top: 0.8rem !important; }

.mabo-1 {
  margin-bottom: 0.8rem !important; }

.male-1 {
  margin-left: 0.8rem !important; }

.mari-1 {
  margin-right: 0.8rem !important; }

.pato-1 {
  padding-top: 0.8rem !important; }

.pabo-1 {
  padding-bottom: 0.8rem !important; }

.pale-1 {
  padding-left: 0.8rem !important; }

.pari-1 {
  padding-right: 0.8rem !important; }

.mato-2 {
  margin-top: 1.6rem !important; }

.mabo-2 {
  margin-bottom: 1.6rem !important; }

.male-2 {
  margin-left: 1.6rem !important; }

.mari-2 {
  margin-right: 1.6rem !important; }

.pato-2 {
  padding-top: 1.6rem !important; }

.pabo-2 {
  padding-bottom: 1.6rem !important; }

.pale-2 {
  padding-left: 1.6rem !important; }

.pari-2 {
  padding-right: 1.6rem !important; }

.mato-3 {
  margin-top: 2.4rem !important; }

.mabo-3 {
  margin-bottom: 2.4rem !important; }

.male-3 {
  margin-left: 2.4rem !important; }

.mari-3 {
  margin-right: 2.4rem !important; }

.pato-3 {
  padding-top: 2.4rem !important; }

.pabo-3 {
  padding-bottom: 2.4rem !important; }

.pale-3 {
  padding-left: 2.4rem !important; }

.pari-3 {
  padding-right: 2.4rem !important; }

.mato-4 {
  margin-top: 3.2rem !important; }

.mabo-4 {
  margin-bottom: 3.2rem !important; }

.male-4 {
  margin-left: 3.2rem !important; }

.mari-4 {
  margin-right: 3.2rem !important; }

.pato-4 {
  padding-top: 3.2rem !important; }

.pabo-4 {
  padding-bottom: 3.2rem !important; }

.pale-4 {
  padding-left: 3.2rem !important; }

.pari-4 {
  padding-right: 3.2rem !important; }

.mato-5 {
  margin-top: 4rem !important; }

.mabo-5 {
  margin-bottom: 4rem !important; }

.male-5 {
  margin-left: 4rem !important; }

.mari-5 {
  margin-right: 4rem !important; }

.pato-5 {
  padding-top: 4rem !important; }

.pabo-5 {
  padding-bottom: 4rem !important; }

.pale-5 {
  padding-left: 4rem !important; }

.pari-5 {
  padding-right: 4rem !important; }

.mato-6 {
  margin-top: 4.8rem !important; }

.mabo-6 {
  margin-bottom: 4.8rem !important; }

.male-6 {
  margin-left: 4.8rem !important; }

.mari-6 {
  margin-right: 4.8rem !important; }

.pato-6 {
  padding-top: 4.8rem !important; }

.pabo-6 {
  padding-bottom: 4.8rem !important; }

.pale-6 {
  padding-left: 4.8rem !important; }

.pari-6 {
  padding-right: 4.8rem !important; }

.mato-7 {
  margin-top: 5.6rem !important; }

.mabo-7 {
  margin-bottom: 5.6rem !important; }

.male-7 {
  margin-left: 5.6rem !important; }

.mari-7 {
  margin-right: 5.6rem !important; }

.pato-7 {
  padding-top: 5.6rem !important; }

.pabo-7 {
  padding-bottom: 5.6rem !important; }

.pale-7 {
  padding-left: 5.6rem !important; }

.pari-7 {
  padding-right: 5.6rem !important; }

.mato-8 {
  margin-top: 6.4rem !important; }

.mabo-8 {
  margin-bottom: 6.4rem !important; }

.male-8 {
  margin-left: 6.4rem !important; }

.mari-8 {
  margin-right: 6.4rem !important; }

.pato-8 {
  padding-top: 6.4rem !important; }

.pabo-8 {
  padding-bottom: 6.4rem !important; }

.pale-8 {
  padding-left: 6.4rem !important; }

.pari-8 {
  padding-right: 6.4rem !important; }

.mato-9 {
  margin-top: 7.2rem !important; }

.mabo-9 {
  margin-bottom: 7.2rem !important; }

.male-9 {
  margin-left: 7.2rem !important; }

.mari-9 {
  margin-right: 7.2rem !important; }

.pato-9 {
  padding-top: 7.2rem !important; }

.pabo-9 {
  padding-bottom: 7.2rem !important; }

.pale-9 {
  padding-left: 7.2rem !important; }

.pari-9 {
  padding-right: 7.2rem !important; }

.mato-10 {
  margin-top: 8rem !important; }

.mabo-10 {
  margin-bottom: 8rem !important; }

.male-10 {
  margin-left: 8rem !important; }

.mari-10 {
  margin-right: 8rem !important; }

.pato-10 {
  padding-top: 8rem !important; }

.pabo-10 {
  padding-bottom: 8rem !important; }

.pale-10 {
  padding-left: 8rem !important; }

.pari-10 {
  padding-right: 8rem !important; }

.mato-11 {
  margin-top: 8.8rem !important; }

.mabo-11 {
  margin-bottom: 8.8rem !important; }

.male-11 {
  margin-left: 8.8rem !important; }

.mari-11 {
  margin-right: 8.8rem !important; }

.pato-11 {
  padding-top: 8.8rem !important; }

.pabo-11 {
  padding-bottom: 8.8rem !important; }

.pale-11 {
  padding-left: 8.8rem !important; }

.pari-11 {
  padding-right: 8.8rem !important; }

.mato-12 {
  margin-top: 9.6rem !important; }

.mabo-12 {
  margin-bottom: 9.6rem !important; }

.male-12 {
  margin-left: 9.6rem !important; }

.mari-12 {
  margin-right: 9.6rem !important; }

.pato-12 {
  padding-top: 9.6rem !important; }

.pabo-12 {
  padding-bottom: 9.6rem !important; }

.pale-12 {
  padding-left: 9.6rem !important; }

.pari-12 {
  padding-right: 9.6rem !important; }

.mato-13 {
  margin-top: 10.4rem !important; }

.mabo-13 {
  margin-bottom: 10.4rem !important; }

.male-13 {
  margin-left: 10.4rem !important; }

.mari-13 {
  margin-right: 10.4rem !important; }

.pato-13 {
  padding-top: 10.4rem !important; }

.pabo-13 {
  padding-bottom: 10.4rem !important; }

.pale-13 {
  padding-left: 10.4rem !important; }

.pari-13 {
  padding-right: 10.4rem !important; }

.mato-14 {
  margin-top: 11.2rem !important; }

.mabo-14 {
  margin-bottom: 11.2rem !important; }

.male-14 {
  margin-left: 11.2rem !important; }

.mari-14 {
  margin-right: 11.2rem !important; }

.pato-14 {
  padding-top: 11.2rem !important; }

.pabo-14 {
  padding-bottom: 11.2rem !important; }

.pale-14 {
  padding-left: 11.2rem !important; }

.pari-14 {
  padding-right: 11.2rem !important; }

@media (max-width: 1199.98px) {
  .mato-1 {
    margin-top: 0.4rem !important; }
  .mabo-1 {
    margin-bottom: 0.4rem !important; }
  .male-1 {
    margin-left: 0.4rem !important; }
  .mari-1 {
    margin-right: 0.4rem !important; }
  .pato-1 {
    padding-top: 0.4rem !important; }
  .pabo-1 {
    padding-bottom: 0.4rem !important; }
  .pale-1 {
    padding-left: 0.4rem !important; }
  .pari-1 {
    padding-right: 0.4rem !important; }
  .mato-2 {
    margin-top: 0.8rem !important; }
  .mabo-2 {
    margin-bottom: 0.8rem !important; }
  .male-2 {
    margin-left: 0.8rem !important; }
  .mari-2 {
    margin-right: 0.8rem !important; }
  .pato-2 {
    padding-top: 0.8rem !important; }
  .pabo-2 {
    padding-bottom: 0.8rem !important; }
  .pale-2 {
    padding-left: 0.8rem !important; }
  .pari-2 {
    padding-right: 0.8rem !important; }
  .mato-3 {
    margin-top: 1.2rem !important; }
  .mabo-3 {
    margin-bottom: 1.2rem !important; }
  .male-3 {
    margin-left: 1.2rem !important; }
  .mari-3 {
    margin-right: 1.2rem !important; }
  .pato-3 {
    padding-top: 1.2rem !important; }
  .pabo-3 {
    padding-bottom: 1.2rem !important; }
  .pale-3 {
    padding-left: 1.2rem !important; }
  .pari-3 {
    padding-right: 1.2rem !important; }
  .mato-4 {
    margin-top: 1.6rem !important; }
  .mabo-4 {
    margin-bottom: 1.6rem !important; }
  .male-4 {
    margin-left: 1.6rem !important; }
  .mari-4 {
    margin-right: 1.6rem !important; }
  .pato-4 {
    padding-top: 1.6rem !important; }
  .pabo-4 {
    padding-bottom: 1.6rem !important; }
  .pale-4 {
    padding-left: 1.6rem !important; }
  .pari-4 {
    padding-right: 1.6rem !important; }
  .mato-5 {
    margin-top: 2rem !important; }
  .mabo-5 {
    margin-bottom: 2rem !important; }
  .male-5 {
    margin-left: 2rem !important; }
  .mari-5 {
    margin-right: 2rem !important; }
  .pato-5 {
    padding-top: 2rem !important; }
  .pabo-5 {
    padding-bottom: 2rem !important; }
  .pale-5 {
    padding-left: 2rem !important; }
  .pari-5 {
    padding-right: 2rem !important; }
  .mato-6 {
    margin-top: 2.4rem !important; }
  .mabo-6 {
    margin-bottom: 2.4rem !important; }
  .male-6 {
    margin-left: 2.4rem !important; }
  .mari-6 {
    margin-right: 2.4rem !important; }
  .pato-6 {
    padding-top: 2.4rem !important; }
  .pabo-6 {
    padding-bottom: 2.4rem !important; }
  .pale-6 {
    padding-left: 2.4rem !important; }
  .pari-6 {
    padding-right: 2.4rem !important; }
  .mato-7 {
    margin-top: 2.8rem !important; }
  .mabo-7 {
    margin-bottom: 2.8rem !important; }
  .male-7 {
    margin-left: 2.8rem !important; }
  .mari-7 {
    margin-right: 2.8rem !important; }
  .pato-7 {
    padding-top: 2.8rem !important; }
  .pabo-7 {
    padding-bottom: 2.8rem !important; }
  .pale-7 {
    padding-left: 2.8rem !important; }
  .pari-7 {
    padding-right: 2.8rem !important; }
  .mato-8 {
    margin-top: 3.2rem !important; }
  .mabo-8 {
    margin-bottom: 3.2rem !important; }
  .male-8 {
    margin-left: 3.2rem !important; }
  .mari-8 {
    margin-right: 3.2rem !important; }
  .pato-8 {
    padding-top: 3.2rem !important; }
  .pabo-8 {
    padding-bottom: 3.2rem !important; }
  .pale-8 {
    padding-left: 3.2rem !important; }
  .pari-8 {
    padding-right: 3.2rem !important; }
  .mato-9 {
    margin-top: 3.6rem !important; }
  .mabo-9 {
    margin-bottom: 3.6rem !important; }
  .male-9 {
    margin-left: 3.6rem !important; }
  .mari-9 {
    margin-right: 3.6rem !important; }
  .pato-9 {
    padding-top: 3.6rem !important; }
  .pabo-9 {
    padding-bottom: 3.6rem !important; }
  .pale-9 {
    padding-left: 3.6rem !important; }
  .pari-9 {
    padding-right: 3.6rem !important; }
  .mato-10 {
    margin-top: 4rem !important; }
  .mabo-10 {
    margin-bottom: 4rem !important; }
  .male-10 {
    margin-left: 4rem !important; }
  .mari-10 {
    margin-right: 4rem !important; }
  .pato-10 {
    padding-top: 4rem !important; }
  .pabo-10 {
    padding-bottom: 4rem !important; }
  .pale-10 {
    padding-left: 4rem !important; }
  .pari-10 {
    padding-right: 4rem !important; }
  .mato-11 {
    margin-top: 4.4rem !important; }
  .mabo-11 {
    margin-bottom: 4.4rem !important; }
  .male-11 {
    margin-left: 4.4rem !important; }
  .mari-11 {
    margin-right: 4.4rem !important; }
  .pato-11 {
    padding-top: 4.4rem !important; }
  .pabo-11 {
    padding-bottom: 4.4rem !important; }
  .pale-11 {
    padding-left: 4.4rem !important; }
  .pari-11 {
    padding-right: 4.4rem !important; }
  .mato-12 {
    margin-top: 4.8rem !important; }
  .mabo-12 {
    margin-bottom: 4.8rem !important; }
  .male-12 {
    margin-left: 4.8rem !important; }
  .mari-12 {
    margin-right: 4.8rem !important; }
  .pato-12 {
    padding-top: 4.8rem !important; }
  .pabo-12 {
    padding-bottom: 4.8rem !important; }
  .pale-12 {
    padding-left: 4.8rem !important; }
  .pari-12 {
    padding-right: 4.8rem !important; }
  .mato-13 {
    margin-top: 5.2rem !important; }
  .mabo-13 {
    margin-bottom: 5.2rem !important; }
  .male-13 {
    margin-left: 5.2rem !important; }
  .mari-13 {
    margin-right: 5.2rem !important; }
  .pato-13 {
    padding-top: 5.2rem !important; }
  .pabo-13 {
    padding-bottom: 5.2rem !important; }
  .pale-13 {
    padding-left: 5.2rem !important; }
  .pari-13 {
    padding-right: 5.2rem !important; }
  .mato-14 {
    margin-top: 5.6rem !important; }
  .mabo-14 {
    margin-bottom: 5.6rem !important; }
  .male-14 {
    margin-left: 5.6rem !important; }
  .mari-14 {
    margin-right: 5.6rem !important; }
  .pato-14 {
    padding-top: 5.6rem !important; }
  .pabo-14 {
    padding-bottom: 5.6rem !important; }
  .pale-14 {
    padding-left: 5.6rem !important; }
  .pari-14 {
    padding-right: 5.6rem !important; } }

.fw-bold {
  font-weight: 700; }

.fcolor-primary {
  color: #a1722a !important; }

.fcolor-secondary {
  color: #8DC63F !important; }

.fcolor-base2 {
  color: #3b3b3b !important; }

.fsize-p-2 {
  font-size: 1.6rem; }

.align-center {
  text-align: center; }

.content-center {
  margin-left: auto !important;
  margin-right: auto !important; }

.img-responsive {
  width: 100%; }

.truncate, .pseuinput span,
textarea span,
select span,
input span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.shadow10 {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08); }

.shadow20 {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08); }

.shadow40, .slick-prev,
.slick-next {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08); }

.shadow60 {
  box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08); }

.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover; }

.badges {
  min-width: 16rem;
  height: 4rem;
  border-radius: 2.2rem;
  line-height: 4rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .128rem;
  text-align: center;
  padding: 0 1.6rem; }
  .badges--success {
    background-color: #4dce81; }
  .badges--info {
    background-color: #2da9f4; }
  .badges--error {
    background-color: #ea4d4d; }
  .badges--process {
    background-color: #4666e5; }

.sc-bg {
  background-image: unset !important;
  background-color: #f6f6f6; }

.main-title {
  letter-spacing: 1.594rem;
  color: #a1722a;
  text-align: center;
  margin-bottom: 8rem; }

.main-subtitle {
  letter-spacing: .512rem;
  color: #a1722a;
  text-align: center;
  margin-bottom: 3.2rem; }

.title {
  font-family: "Cinzel Decorative", cursive;
  font-size: 4.8rem;
  line-height: 1.5;
  letter-spacing: 1.594rem; }
  @media (max-width: 1199.98px) {
    .title {
      font-size: 3.2rem; } }
  @media (max-width: 767.98px) {
    .title {
      font-size: 2.6rem;
      letter-spacing: unset; } }

.label-text {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: .307rem; }
  @media (max-width: 575.98px) {
    .label-text {
      font-size: 1.8rem; } }

.label2-text {
  font-size: 1.6rem;
  color: #bdbdbd; }

.body-text, article {
  font-size: 2rem;
  line-height: 1.43;
  letter-spacing: .358rem; }
  @media (max-width: 767.98px) {
    .body-text, article {
      font-size: 1.6rem; } }

.heading1 {
  font-size: 8rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  color: #a1722a; }
  @media (max-width: 1199.98px) {
    .heading1 {
      font-size: 4rem; } }
  @media (max-width: 767.98px) {
    .heading1 {
      font-size: 2.4rem; } }

.heading2 {
  font-size: 4rem;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: .512rem;
  color: #a1722a; }
  @media (max-width: 1199.98px) {
    .heading2 {
      font-size: 2.8rem; } }
  @media (max-width: 767.98px) {
    .heading2 {
      font-size: 2rem; } }

.shadow-text {
  text-shadow: 0 1rem 0 #FEF3E7; }

.link-text {
  font-size: 2rem;
  margin-left: auto;
  color: #a1722a; }

.main-img {
  margin-bottom: 5.6rem;
  width: 100%; }

.section-wrapper {
  padding: 16rem 0; }
  @media (max-width: 1199.98px) {
    .section-wrapper {
      padding: 8rem 0; } }
  @media (max-width: 767.98px) {
    .section-wrapper {
      padding: 4rem 0; } }

.bo-section-wrapper {
  padding: 0 0 16rem; }

.bg-line {
  background-image: url("../img/line-bg.svg");
  background-size: contain;
  background-repeat: repeat-y; }

.bg-flower {
  position: relative; }
  .bg-flower::before, .bg-flower::after {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    top: 0; }
  .bg-flower::before {
    background-image: url("../img/flower-left.svg");
    background-position: left top 14rem; }
  .bg-flower::after {
    background-image: url("../img/flower-right.svg");
    background-position: right top 14rem; }
  @media (max-width: 1199.98px) {
    .bg-flower::before, .bg-flower::after {
      background-size: 14%; }
    .bg-flower::before {
      background-position: left top 4rem; }
    .bg-flower::after {
      background-position: right top 4rem; } }

.bg-flower-center {
  position: relative;
  background-repeat: no-repeat;
  top: 0;
  background-image: url("../img/flower-center.svg");
  background-position: center top 4rem; }
  @media (max-width: 991.98px) {
    .bg-flower-center {
      background-position: center top;
      background-size: 20%; } }

.rp::before {
  display: inline-block;
  content: 'Rp';
  margin-right: .4rem; }

.no-overflow {
  overflow: hidden; }

.main-header__slider {
  width: 100%;
  height: calc(100vh - 0px);
  position: relative; }
  .main-header__slider__logo {
    height: 10.2rem;
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%); }
  .main-header__slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (max-width: 991.98px) {
  .main-header {
    overflow: hidden; }
    .main-header .main-header__slider {
      height: 50rem; }
      .main-header .main-header__slider__logo {
        height: 6.4rem; } }

@media (max-width: 767.98px) {
  .main-header .main-header__slider {
    height: 42rem; } }

@media (max-width: 575.98px) {
  .main-header .main-header__slider {
    height: 26rem; }
    .main-header .main-header__slider__logo {
      height: 4rem; } }

main [class*="sc-"] ._wrapper {
  padding: 16rem 0;
  background-image: url("../img/line-bg.svg");
  background-size: contain;
  background-repeat: repeat-y; }
  main [class*="sc-"] ._wrapper._nobg {
    background-image: unset; }

.split-inputs {
  display: flex; }
  .split-inputs .split-input:not(:last-child) {
    margin-right: 3.2rem; }

.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #a1722a;
  z-index: 101;
  transition: all .2s ease-in-out; }
  .navbar .ws-back {
    color: white;
    font-size: 32px; }
  .navbar__links {
    display: inline-block; }
    .navbar__links li {
      display: inline-block;
      margin-right: 2.4rem; }
      .navbar__links li:last-child {
        margin-right: 3.2rem; }
      .navbar__links li a {
        color: white;
        letter-spacing: 2.56px;
        font-size: 2rem;
        opacity: .8; }
        .navbar__links li a:hover {
          opacity: 1; }
      .navbar__links li._active {
        font-weight: 700; }
        .navbar__links li._active a {
          opacity: 1; }
  .navbar__menu {
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    position: relative; }
    .navbar__menu i {
      font-size: 3.2rem;
      position: absolute;
      top: 1.6rem;
      right: 1.5rem; }
    .navbar__menu__list {
      text-align: center; }
      .navbar__menu__list li {
        padding: 1rem 0; }
        .navbar__menu__list li a {
          font-family: "Cinzel Decorative", cursive;
          font-size: 2.4rem;
          font-weight: 700;
          letter-spacing: .31rem;
          color: #656565;
          transition: all .2s ease-in-out; }
          .navbar__menu__list li a:hover {
            color: #a1722a; }
        .navbar__menu__list li:not(:last-child) {
          margin-bottom: 3.2rem; }
        @media (max-width: 767.98px) {
          .navbar__menu__list li a {
            font-size: 1.4rem; }
          .navbar__menu__list li:not(:last-child) {
            margin-bottom: 1.6rem; } }
  .navbar__right {
    display: flex;
    align-items: center; }
    .navbar__right i {
      font-size: 3.2rem;
      color: white;
      cursor: pointer; }
  .navbar__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #a1722a;
    transition: all .2s ease-in-out; }
    @media (max-width: 991.98px) {
      .navbar__wrapper {
        height: 5.6rem; } }
  .navbar__logo {
    height: 3.6rem; }
    @media (max-width: 991.98px) {
      .navbar__logo {
        height: 2.4rem; } }
  .navbar__social {
    display: flex; }
    .navbar__social li a {
      color: #a1722a;
      font-size: 2.4rem; }
    .navbar__social li:not(:last-child) {
      margin-right: 1.6rem; }
  .navbar__login {
    width: 16rem;
    font-family: "EB Garamond", serif;
    font-size: 2rem; }
  @media (max-width: 991.98px) {
    .navbar__social {
      display: none; } }
  .navbar._active {
    position: fixed;
    background-color: #a1722a; }
    .navbar._active .navbar__wrapper {
      border: unset !important; }
    .navbar._active .drawer-btn {
      display: none; }
    .navbar._active .navbar__login {
      display: block !important; }
    .navbar._active .navbar__menu {
      height: calc(100vh - 8rem); }
    .navbar._active .navbar__wrapper {
      border-bottom: .1rem solid white;
      border-top: 0.1rem solid #a1722a; }
    .navbar._active .navbar__social {
      display: none; }
    .navbar._active .navbar__login {
      display: block; }
    @media (max-width: 991.98px) {
      .navbar._active .navbar__menu {
        height: calc(100vh - 5.6rem); }
      .navbar._active .navbar__logo {
        display: none; } }
  .navbar--home {
    position: fixed;
    background-color: transparent; }
    .navbar--home .navbar__wrapper {
      border-color: white; }
    .navbar--home._scrolled {
      position: fixed;
      background-color: #a1722a; }
      .navbar--home._scrolled .navbar__wrapper {
        border-color: #a1722a; }

.footer__top {
  padding: 16rem 0 7.2rem; }
  @media (max-width: 1199px) {
    .footer__top {
      padding: 8rem 0; } }

.footer__logo {
  height: 4rem;
  align-self: flex-start;
  margin-bottom: 9.2rem; }
  @media (max-width: 991.98px) {
    .footer__logo {
      margin-bottom: 3.2rem; } }

.footer ._wrapper {
  height: 100%; }
  @media (max-width: 991.98px) {
    .footer ._wrapper {
      padding-bottom: 3.2rem; } }

.footer ._info li {
  display: flex; }
  .footer ._info li i {
    color: #a1722a;
    font-size: 2rem;
    margin-right: .8rem; }
  .footer ._info li p, .footer ._info li a {
    line-height: 1.7;
    color: #656565; }
  .footer ._info li:not(:last-child) {
    margin-bottom: 2.4rem; }

.footer__link-group:not(:last-child) {
  margin-bottom: 4rem; }

.footer__link-group ul li:not(:last-child) {
  margin-bottom: .8rem; }

.footer__link-group ul li a {
  color: #656565;
  line-height: 1.7; }

.footer__title {
  margin-bottom: 2rem;
  color: #a1722a;
  font-family: "Cinzel Decorative", cursive;
  font-weight: bold; }

.footer__bottom {
  border-top: 0.1rem solid #a1722a; }
  .footer__bottom .container {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media (max-width: 991.98px) {
    .footer__bottom .container {
      display: unset; } }

.footer__social {
  display: flex; }
  .footer__social li a {
    color: #a1722a;
    font-size: 2.4rem; }
  .footer__social li:not(:last-child) {
    margin-right: 1.6rem; }

.footer__copyright span {
  font-size: 1.2rem; }

@media (max-width: 991.98px) {
  ._tmb {
    margin-top: 4rem; } }

.sc-program__inner {
  background-image: url("../img/layout-wikasatrian-r-7.jpg");
  background-size: cover;
  text-align: center;
  margin-bottom: 5.2rem;
  padding: 16rem; }
  .sc-program__inner__programs-wrapper {
    display: flex;
    justify-content: space-between; }
  .sc-program__inner__program-wrapper {
    width: 35.4rem; }
  @media (max-width: 1199.98px) {
    .sc-program__inner {
      padding: 8rem; } }
  @media (max-width: 991.98px) {
    .sc-program__inner__programs-wrapper {
      display: block; }
    .sc-program__inner__program-wrapper {
      width: 35.4rem;
      margin: 0 auto; }
      .sc-program__inner__program-wrapper:not(:last-child) {
        margin-bottom: 4.8rem; } }
  @media (max-width: 575.98px) {
    .sc-program__inner {
      padding: 1.6rem; }
      .sc-program__inner__program-wrapper {
        width: 100%; } }

.primary-card {
  display: block;
  margin-bottom: 4rem; }
  .primary-card img {
    width: 100%;
    height: 48rem;
    object-fit: cover; }
    @media (max-width: 575.98px) {
      .primary-card img {
        height: 32rem; } }
  .primary-card ._img-wrapper {
    width: 100%;
    height: 48rem;
    position: relative; }
    @media (max-width: 575.98px) {
      .primary-card ._img-wrapper {
        height: 32rem; } }
    .primary-card ._img-wrapper img {
      height: 20rem;
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 575.98px) {
        .primary-card ._img-wrapper img {
          height: 14rem; } }
    .primary-card ._img-wrapper._top img {
      top: 8rem;
      transform: translateX(-50%); }
    .primary-card ._img-wrapper._bottom img {
      top: unset;
      bottom: 8rem;
      transform: translateX(-50%); }
  .primary-card .label-text {
    text-align: center;
    margin-top: 4rem; }
  .primary-card._v2 {
    margin-bottom: 8rem; }
    .primary-card._v2 ._img-wrapper {
      background-image: url("../img/layout-wikasatrian-r-7.jpg");
      background-size: cover; }
      .primary-card._v2 ._img-wrapper img {
        mix-blend-mode: multiply; }
  .primary-card._reservasi {
    border: 0.1rem solid #a1722a;
    position: relative;
    cursor: pointer; }
    .primary-card._reservasi input {
      display: none; }
    .primary-card._reservasi ._cb {
      background-color: white;
      color: #a1722a;
      border-radius: 50%;
      border: 0.1rem solid #a1722a;
      text-align: center;
      width: 4rem;
      height: 4rem;
      line-height: 3.8rem;
      font-size: 3.6rem;
      position: absolute;
      top: 4rem;
      right: 4rem; }
    .primary-card._reservasi .label-text {
      margin-bottom: 4rem;
      color: #a1722a; }
    .primary-card._reservasi._checked {
      background-color: #a1722a; }
      .primary-card._reservasi._checked ._cb {
        background-color: #a1722a;
        color: white; }
      .primary-card._reservasi._checked .label-text {
        color: white; }
  .primary-card._small {
    display: flex; }
    .primary-card._small img {
      width: 19.2rem;
      height: 19.2rem; }
    .primary-card._small .label-text {
      flex: 1;
      width: 100%;
      text-align: center;
      align-self: center; }
      .primary-card._small .label-text .rp.ns {
        font-size: 2rem;
        color: #3b3b3b;
        font-family: "EB Garamond", serif;
        margin-top: 2.8rem; }
    @media (max-width: 575.98px) {
      .primary-card._small {
        display: block; }
        .primary-card._small img {
          width: 100%; } }

.program-card {
  display: block; }
  .program-card__img-wrapper {
    width: 100%;
    background-color: white;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08);
    margin-bottom: 8rem;
    height: 44rem;
    position: relative; }
    .program-card__img-wrapper img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 19.4rem;
      height: 28rem;
      object-fit: contain; }
    @media (max-width: 991.98px) {
      .program-card__img-wrapper {
        margin-bottom: 4rem; } }
    @media (max-width: 575.98px) {
      .program-card__img-wrapper {
        height: 28rem; }
        .program-card__img-wrapper img {
          width: 40%; } }
  .program-card .label-text {
    margin: 0 -9.6rem; }
    @media (max-width: 991.98px) {
      .program-card .label-text {
        margin: 0; } }

.article-card {
  display: block;
  margin-bottom: 8rem; }
  .article-card__img {
    width: 100%;
    height: auto; }
    @media (max-width: 767.98px) {
      .article-card__img {
        height: 24rem;
        object-fit: cover; } }
  .article-card .label-text {
    margin-top: 4rem;
    margin-bottom: 1.6rem; }
  .article-card__date {
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: .205rem;
    color: #bdbdbd;
    margin-bottom: 3.2rem;
    display: inline-block; }
  .article-card .body-text, .article-card article {
    max-height: 16rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #656565; }

.dashboard-card {
  padding: 0 3.2rem;
  border: 0.1rem solid #bdbdbd; }
  .dashboard-card:not(:last-child) {
    margin-bottom: 3.2rem; }
  .dashboard-card--transaction__top {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem dashed #bdbdbd; }
    .dashboard-card--transaction__top ._left {
      color: #bdbdbd;
      display: flex;
      align-items: center; }
      .dashboard-card--transaction__top ._left i {
        font-size: 3.8rem;
        margin-right: .8rem; }
      .dashboard-card--transaction__top ._left span {
        font-size: 2rem;
        letter-spacing: .256rem; }
    .dashboard-card--transaction__top ._wrap {
      display: flex;
      align-items: center; }
    @media (max-width: 767.98px) {
      .dashboard-card--transaction__top {
        display: block; }
        .dashboard-card--transaction__top ._left {
          margin-bottom: 2.4rem;
          display: block; } }
  .dashboard-card--transaction__middle {
    padding: 4rem 0 3.2rem; }
    .dashboard-card--transaction__middle .label-text {
      color: #a1722a;
      margin-bottom: 3.2rem; }
    .dashboard-card--transaction__middle__table {
      overflow: scroll; }
    .dashboard-card--transaction__middle table tr td {
      font-size: 2rem;
      letter-spacing: .256rem;
      line-height: 2.6; }
      .dashboard-card--transaction__middle table tr td:first-child {
        color: #bdbdbd; }
      .dashboard-card--transaction__middle table tr td:last-child {
        padding-left: 2.8rem;
        color: #3b3b3b;
        font-weight: 700; }
        .dashboard-card--transaction__middle table tr td:last-child span {
          margin-left: 2.4rem; }
    .dashboard-card--transaction__middle article {
      max-height: 33.6rem;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
  .dashboard-card--transaction__bottom {
    padding: 3.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2rem dashed #bdbdbd; }
    .dashboard-card--transaction__bottom ._left {
      color: #a1722a;
      display: flex;
      align-items: center; }
      .dashboard-card--transaction__bottom ._left i {
        font-size: 2.8rem;
        margin-right: .8rem; }
      .dashboard-card--transaction__bottom ._left span {
        font-size: 2rem;
        letter-spacing: .256rem; }
    @media (max-width: 767.98px) {
      .dashboard-card--transaction__bottom {
        display: block; }
        .dashboard-card--transaction__bottom ._left {
          margin-bottom: 2.4rem; } }

.reservasi-wrapper {
  padding-bottom: 4rem; }
  .reservasi-wrapper:not(:last-child) {
    border-bottom: 0.2rem dashed #bdbdbd;
    margin-bottom: 4rem; }

.confirmation-wrapper {
  font-size: 2.8rem;
  line-height: 1.43;
  letter-spacing: .358rem;
  color: #656565; }
  @media (max-width: 991.98rem) {
    .confirmation-wrapper {
      font-size: 2rem; } }
  @media (max-width: 767.98rem) {
    .confirmation-wrapper {
      font-size: 1.6rem; } }
  .confirmation-wrapper ._label {
    margin-bottom: 4rem; }
  .confirmation-wrapper .table-responsive {
    margin-bottom: 8rem; }
  .confirmation-wrapper table tr th,
  .confirmation-wrapper table tr td {
    padding: 1.6rem; }
  .confirmation-wrapper table tr th {
    text-align: center;
    font-weight: 400; }
  .confirmation-wrapper table tr td span {
    color: #a1722a; }
  .confirmation-wrapper table thead tr th {
    background-color: #a1722a;
    border: .1rem solid white;
    color: white;
    vertical-align: middle; }
  .confirmation-wrapper table tbody tr:last-child {
    background-color: #f6f6f6;
    color: #3b3b3b;
    font-weight: 700; }

.slick-slide {
  outline: none !important; }
  .slick-slide a {
    outline: none !important; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: white;
  opacity: .2;
  transition: .2s ease-in-out; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  opacity: 1; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'wikasatrian' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.2rem;
  line-height: 1;
  opacity: .75;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 24px;
  z-index: 99; }

[dir='rtl'] .slick-prev {
  right: 24px;
  left: auto; }

.slick-prev:before {
  content: '\e90c'; }

[dir='rtl'] .slick-prev:before {
  content: '\e90c'; }

.slick-next {
  right: 24px;
  z-index: 99; }

[dir='rtl'] .slick-next {
  right: auto;
  left: 24px; }

.slick-next:before {
  content: '\e90e'; }

[dir='rtl'] .slick-next:before {
  content: '\e90e'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: unset; }
  @media (min-width: 992px) {
    .slick-dotted.slick-slider {
      margin-bottom: unset; } }

.slick-dots {
  position: absolute;
  bottom: 2.4rem;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  @media (min-width: 992px) {
    .slick-dots {
      bottom: 4rem; } }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 22px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 6px;
  line-height: .4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  content: '';
  text-align: center;
  border: .2rem solid white;
  border-radius: 7.2rem;
  opacity: .8;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .2s; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  border: .4rem solid white; }

.slick-left-align > .slick-list > .slick-track {
  margin-left: 0; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60.8rem; } }

.modal-dialog .modal-content {
  padding: 6.4rem 0 !important;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08); }
  .modal-dialog .modal-content .ws-close {
    font-size: 4.8rem;
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    cursor: pointer;
    color: #a1722a; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 90% !important; }
  .modal-content {
    padding: 3.2rem 1.6rem !important;
    position: relative; }
    .modal-content__wrapper {
      max-width: 64rem;
      margin: 0 auto;
      text-align: center; }
      .modal-content__wrapper .primary-card {
        width: 32rem;
        margin: 0 auto; }
    .modal-content .body-text, .modal-content article {
      margin-top: 3.2rem;
      text-align: left; } }

.Loreg #sc-loreg .row .col-12.col-xl-6:last-child {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 8rem); }

.Loreg .sc-loreg__left {
  margin: 8rem auto;
  max-width: 35.2rem; }

.Loreg .sc-loreg__right {
  position: relative;
  height: calc(100vh - 8rem);
  background-image: url("../img/loreg-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .Loreg .sc-loreg__right img {
    position: absolute;
    height: 10.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media (max-width: 1199.98px) {
  .Loreg #sc-loreg .row .col-12.col-xl-6:first-child {
    height: unset; }
  .Loreg .sc-loreg__left {
    margin: 8rem auto;
    max-width: 35.2rem; }
  .Loreg .sc-loreg__right {
    height: 16rem; } }

.Dashboard__user {
  border: 0.1rem solid #bdbdbd;
  color: #656565;
  padding: 0 1.6rem; }
  .Dashboard__user__top {
    padding: 8rem 0;
    text-align: center;
    border-bottom: 0.2rem dashed #bdbdbd;
    position: relative; }
    .Dashboard__user__top .profile-drawer {
      position: absolute;
      left: 0;
      top: 1.6rem;
      font-size: 2.8rem;
      color: #bdbdbd;
      cursor: pointer; }
    .Dashboard__user__top .profile-menu {
      display: none;
      background-color: white;
      position: absolute;
      top: 5.6rem;
      left: 0;
      width: 16rem;
      box-shadow: 0 0.8rem 1.6rem 0 rgba(161, 114, 42, 0.08);
      border: 0.1rem solid #f6f6f6; }
      .Dashboard__user__top .profile-menu li a {
        font-family: "Cinzel Decorative", cursive;
        color: #3b3b3b;
        font-size: 1.2rem;
        font-weight: bold;
        padding: .8rem 0;
        display: block; }
      .Dashboard__user__top .profile-menu li:not(:last-child) {
        border-bottom: 0.1rem solid #f6f6f6; }
      .Dashboard__user__top .profile-menu._show {
        display: block; }
    @media (max-width: 767.98px) {
      .Dashboard__user__top {
        padding: 4rem 0; } }
    .Dashboard__user__top__img {
      margin-bottom: 4rem; }
    .Dashboard__user__top__title {
      color: #3b3b3b;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: .256rem; }
  .Dashboard__user__bottom {
    padding: 8.8rem 0; }
    @media (max-width: 767.98px) {
      .Dashboard__user__bottom {
        padding: 4rem 0; } }
    .Dashboard__user__bottom__menu {
      font-size: 2rem;
      letter-spacing: .256rem; }
      .Dashboard__user__bottom__menu li ._list {
        color: #656565;
        display: inline-block; }
        .Dashboard__user__bottom__menu li ._list i {
          color: #a1722a;
          font-size: 3.8rem;
          margin-right: .8rem;
          transform: translateY(1rem);
          display: inline-block; }
      .Dashboard__user__bottom__menu li:not(:last-child) ._list {
        margin-bottom: 1.6rem; }
      @media (max-width: 767.98px) {
        .Dashboard__user__bottom__menu {
          font-size: 1.6rem; }
          .Dashboard__user__bottom__menu li:not(:last-child) ._list {
            margin-bottom: unset; } }

.Dashboard .nav-tabs {
  display: flex;
  margin-bottom: 4rem; }
  .Dashboard .nav-tabs li {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative; }
    .Dashboard .nav-tabs li._notif::after {
      display: inline-block;
      content: '';
      height: .8rem;
      width: .8rem;
      background-color: #ea4d4d;
      border-radius: 50%;
      position: absolute;
      right: 1.6rem;
      top: 1.6rem; }
    .Dashboard .nav-tabs li a {
      font-family: "Cinzel Decorative", cursive;
      letter-spacing: .256rem;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      padding: 1.8rem 0;
      border: 0.1rem solid #a1722a !important;
      border-radius: unset; }
      @media (max-width: 767.98px) {
        .Dashboard .nav-tabs li a {
          font-size: 1.4rem; } }
      .Dashboard .nav-tabs li a.active {
        background-color: #a1722a;
        color: white; }

.galery-wrapper {
  margin-bottom: 6.4rem;
  display: block; }
  .galery-wrapper img {
    width: 100%;
    height: 32rem;
    object-fit: cover; }
  .galery-wrapper .label-text {
    text-align: center;
    color: #a1722a; }
  @media (max-width: 575.98px) {
    .galery-wrapper img {
      height: 18rem; } }

.Home {
  margin-top: unset; }

#sc-about img {
  display: block;
  height: 10.4rem; }

.sc-falsafah__img {
  background-image: url("../img/falsafah-bg.jpg");
  background-size: cover;
  text-align: center;
  margin-bottom: 5.2rem; }
  .sc-falsafah__img img {
    height: 82rem; }
  @media (max-width: 1199.98px) {
    .sc-falsafah__img img {
      height: 58rem; } }
  @media (max-width: 991.98px) {
    .sc-falsafah__img img {
      height: 28rem; } }

#sc-facilities .facilities-list {
  margin: 0 -3.7rem; }

#sc-facilities .facilities-slider__wrapper {
  padding: 0 1.6rem; }

.sc-alumni__wrapper {
  position: relative; }
  .sc-alumni__wrapper img {
    width: 100%;
    height: 64rem;
    object-fit: cover;
    object-position: left; }
    @media (max-width: 767.98px) {
      .sc-alumni__wrapper img {
        height: 36.8rem; } }
  .sc-alumni__wrapper ._text-wrapper {
    position: absolute;
    top: 8rem;
    left: 10rem; }
    @media (max-width: 767.98px) {
      .sc-alumni__wrapper ._text-wrapper {
        display: unset;
        top: 4rem; } }

.sc-alumni__count {
  color: white;
  font-family: "Cinzel Decorative", cursive;
  margin-bottom: 4.8rem; }
  .sc-alumni__count ._value {
    width: 21.2rem;
    height: 7.2rem;
    line-height: 7.2rem;
    font-size: 3.2rem;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 0.4rem;
    letter-spacing: 1.594rem;
    font-weight: 700;
    text-align: center; }
  .sc-alumni__count ._title {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: .307rem;
    margin-top: 1.2rem; }
  @media (max-width: 767.98px) {
    .sc-alumni__count {
      margin-bottom: 3.2rem !important; }
      .sc-alumni__count ._value {
        background-color: rgba(0, 0, 0, 0.4); }
      .sc-alumni__count:first-child ._value, .sc-alumni__count:last-child ._value {
        width: unset; } }

@media (max-width: 1199.98px) {
  .sc-alumni__count ._value {
    width: 24rem;
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 2.8rem;
    font-size: 2rem; }
  .sc-alumni__count ._title {
    font-size: 1.4rem; }
  .sc-alumni img {
    height: 48rem; } }

@media (max-width: 991.98px) {
  .sc-alumni__wrapper {
    margin-bottom: 4.8rem; }
    .sc-alumni__wrapper ._text-wrapper {
      left: 50%;
      transform: translateX(-50%); }
      .sc-alumni__wrapper ._text-wrapper .sc-alumni__count {
        margin-bottom: 1.6rem; }
        .sc-alumni__wrapper ._text-wrapper .sc-alumni__count ._title {
          text-align: center; }
  .sc-alumni img {
    height: 38rem; }
  .sc-alumni__count {
    margin: 0 3.2rem; } }

.sc-alumni iframe {
  width: 100%;
  height: 64rem;
  border: none; }

@media (max-width: 1199.98px) {
  .sc-alumni iframe {
    height: 48rem; } }

@media (max-width: 576.98px) {
  .sc-alumni iframe {
    height: 18rem; } }

.sc-contact__info li {
  display: flex;
  margin-bottom: 2.4rem; }
  .sc-contact__info li .ws {
    font-size: 3.2rem;
    color: #a1722a;
    margin-right: 3.2rem; }

@media (max-width: 991.98px) {
  .sc-contact__info {
    margin-top: 3.2rem; } }

.article-slider .slick-prev, .article-slider .slick-next {
  top: 32%; }

.article__slider {
  width: 100%;
  margin-bottom: 8rem; }
  .article__slider__img {
    width: 100%;
    height: 44rem;
    object-fit: cover; }
  .article__slider__text {
    display: flex; }
  @media (max-width: 767.98px) {
    .article__slider {
      margin-bottom: 4rem; }
      .article__slider__img {
        height: 30rem; } }

@media (max-width: 991.98px) {
  .article {
    overflow: hidden; }
    .article .main-header__slider {
      height: 50rem; } }

@media (max-width: 767.98px) {
  .article .main-header__slider {
    height: 42rem; } }

@media (max-width: 575.98px) {
  .article .main-header__slider {
    height: 26rem; } }

.testimony-slider .slick-prev, .testimony-slider .slick-next {
  opacity: .6;
  background-color: #a1722a; }
  .testimony-slider .slick-prev:before, .testimony-slider .slick-prev:before, .testimony-slider .slick-next:before, .testimony-slider .slick-next:before {
    color: white; }

.testimony-slider img {
  width: 100%; }

.facility-wrapper img {
  height: 64rem;
  object-fit: cover; }

@media (max-width: 991.98px) {
  .facility-wrapper img {
    height: 32rem; } }

/*# sourceMappingURL=styles.css.map */