section
	.container-fluid
		.section-wrapper
			.container
				h1.heading1.align-center.mabo-7 Giri Budaya
			img(src="uploads/images/ws-img-card-fasilitas-griri-boga.jpg").img-responsive.mabo-10
			.container
				article
					p Giri Budaya dan Giri Cipta seringkali disatukan menjadi satu ruangan besar yang digunakan untuk pelatihan. Sebuah artefak dari daun lontar menjelaskan keberadaan sebelas pilar dan tiga cungkup. Bunyi tulisan yang dipahat pada daun lontar di atas adalah:

					p Artefak Sebelas Pilar dan Tiga Cungkup. Sebelas pilar penyangga Balai Giri Wijaya didapati dari kedekatan makna angka sebelas yang bersanding dengan kewelasan yang bermakna kasih. Saling asah, asih, dan asuh menjadi ciri laku seorang pemimpin berbudi luhur, sekaligus pertanda Dirgahayu Wijaya Karya pada tanggal 11 Maret. Memasuki ruangan Giri Budaya dan Giri Cipta, kita akan mendapati bahwa tak ada satu pun kursi di dalamnya. Semua pelatihan dan jua diskusi di dalam ruangan ini dilakukan dengan duduk i lantai atau lesehan. Lesehan merupakan kebiasaan asli dari nusantara, dimana para pemimpin nusantara dalam berdiskusi dan mengambil keputusan selalu dilakukan sambil duduk bersila dan lesehan. Konsep kursi sendiri sebenarnya berasal dari luar, misalnya kata kursi sebenarnya berasal dari bahasa Arab, kata bangku berasal dari bahasa Belanda.

					img(src="uploads/images/facility-giri-budaya-2.png" width="100%")
				

	.section-wrapper.sc-bg
		.container
			h1.title.align-center.fcolor-primary.mabo-10 Pesan Fasilitas Ini
			
			form(action="confirmation.html")
				div(style="max-width: 544px;margin: 0 auto").mabo-7
					.row
						.col-12.col-md-6.mabo-4
							.body-text.mabo-3 Tanggal Mulai
							.input-pack
								.input-wrap
									i.ws.ws-calendar
									input(type="text").datepicker-input
						.col-12.col-md-6.mabo-4
							.body-text.mabo-3 Tanggal Selesai
							.input-pack
								.input-wrap
									i.ws.ws-calendar
									input(type="text").datepicker-input
				input(type="submit", value="pesan").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg.link-btn-center