// Contact Section
section#sc-contact
    .container-fluid
        .section-wrapper
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Pilih Tanggal
                form(action="confirmation.html")
                    .row
                        .col-lg-6.offset-lg-3
                            include ../../../g-components/reservasi-date-card
                            for reservasi in facilities.slice(0,2)
                                +reservasi-date-card-list(reservasi)

                        .col-lg-6.offset-lg-3
                            input(type="submit", value="lanjut").link-btn.link-btn-primary.link-btn-lg.link-btn-w-full.link-btn-center
