// Contact Section
section#sc-contact
    .container-fluid
        .section-wrapper
            .container
                h1.title.align-center.fcolor-primary.mabo-10 Reservasi

                .row
                    .col-lg-6.offset-lg-3
                        .label-text.mabo-4.fcolor-primary Pilih Fasilitas
                form(action="reservasi-date.html")
                    .row
                        include ../../../g-components/reservasi-card
                        for reservasi in facilities
                            .col-12.col-md-6.col-lg-4 
                                +reservasi-card-list(reservasi)

                    .col-lg-6.offset-lg-3
                        input(type="submit", value="lanjut").link-btn.link-btn-primary.link-btn-lg.link-btn-w-full.link-btn-center