
// Intro Section
section#sc-error
    .container-fluid
        .section-wrapper.align-center
            img.img-responsive.mabo-7(src="img/ws-img-error-404.jpg")
            h1.title.align-center.fcolor-primary.mabo-10 404
            p.body-text.mabo-4 Halaman yang Anda cari tidak ditemukan.

            a(href="index.html") ← Kembali ke halaman beranda