section
	.container-fluid
		img(src="uploads/images/ws-img-card-fasilitas-griri-boga.jpg").img-responsive

section.bg-flower
	.container-fluid
		.section-wrapper.bg-line
			.container

				h1.heading1.align-center.mabo-4 Fasilitas<br>Bintang Lima

				p.body-text.align-center Untuk mendukung suasana pelatihan yang nyaman dan kondusif, sebuah rancangan pengalaman konsumen yang prima sudah disiapkan sejak awal. Fasilitas ruang dan lokasi dipersiapkan dengan memperhatikan setiap detail untuk menciptakan pengalaman yang mengesankan bagi para pengunjung dan pengguna fasilitas Wikasatrian.

mixin section-list(section)
	section.facility-wrapper
		.container-fluid
			.section-wrapper.bg-line
				img(src="uploads/images/"+section.img).img-responsive.mabo-7
				.container
					h2.heading2.align-center.mabo-4= section.title

					p.body-text.align-center.mabo-10=section.desc

					a(href=section.link).link-btn.link-btn-secondary.link-btn-xs.link-btn-w-xs.link-btn-center selengkapnya

for section in facilities.slice(0,6)
		+section-list(section)

section
	.section-wrapper.sc-bg
		.container
			h1.title.align-center.fcolor-primary.mabo-10 Pesan Fasilitas
			a(href="reservasi.html").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg.link-btn-center pesan