doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title Galeri | !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar-logged
        //- Content Start
        main.Program
            include components/sc-program-list
            
        include ../../layouts/footer
        include ../../layouts/links-bottom