section.sc-satria
	.container-fluid
		.section-wrapper.bg-line
			.container
				h1.title.align-center.fcolor-primary.mabo-10 Program<br>Pembelajaran<br>Kepemimpinan

				.row
					include ../../../g-components/primary-v2-card
					for pelatihan in programLists
						if pelatihan.type === "leadership"
							.col-12.col-xl-4
								+pelatihan-list(pelatihan)

		.section-wrapper.bg-line#satria-pratama
			img(src="uploads/images/ws-img-foto-satria-pratama.jpg").main-img

			h2.title.align-center.fcolor-primary.mabo-7 Satria Pratama

			.container
				p.body-text Satria Pratama mengalami pembelajaran akan makna pencerahan bahwa rasa ikhlas dan syukur atas segala peristiwa dalam hidup akan melahirkan kebahagiaan yang diciptakan diri sendiri dan merupakan pilihan dari relung batin. Dalam kepemimpinan, dibutuhkan suri ketauladan dalam melayani segenap khalayak yang memerlukan. Kesejatian pengharkatan insani dilaksanakan melalui lintas budaya. Satria Pratama memiliki kesadaran diri bahwa ia adalah kepingan kecil dari rangkaian mozaik besar alam berserta seluruh isinya.

		.section-wrapper.bg-line#satria-utama
			img(src="uploads/images/ws-img-foto-satria-utama.jpg").main-img

			h2.title.align-center.fcolor-primary.mabo-7 Satria Utama

			.container
				p.body-text Satria Utama menjelmakan pembelajaran makna akan usaha yang mampu memandang kebahagiaan yang melebur dalam kesatuan tanpa sekat-sekat yang membatasi. Kepemimpinan Satria Utama adalah melayani dalam wujud tindakantindakan nyata melalui transformasi yang luwes. Ia mampu menempatkan diri dalam harmoni penuh keberagaman lintas budaya. Satria Utama memiliki keselarasan diri yang menyatu dengan alam sekitarnya.

		.section-wrapper.bg-line#satria-luhur
			img(src="uploads/images/ws-img-foto-satria-luhur.jpg").main-img

			h2.title.align-center.fcolor-primary.mabo-7 Satria Luhur
			
			.container
				p.body-text Pada jenjang Satria Luhur sang satria mewariskan dan memelihara nilai-nilai luhur Bangsa dan Negara. Pada aspek Ketuhanan ia hidup dalam mati, mati dalam hidup. Pada aspek Kemanusiaan sub aspek Kebahagiaan, ia hanya memberi tak harap kembali. Pada sub aspek Kepemimpinan Melayani, ia meninggalkan jejak dengan menorehkan tinta emas. Pada aspek Alam sub aspek Lintas Budaya, ia melestarikan keberagaman, dan pada sub aspek Pelestarian ia melakukan konservasi alam.

	.section-wrapper.sc-bg
		.container
			h1.title.align-center.fcolor-primary.mabo-10 Tertarik Dengan Program Kami?
			a(href="#!").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg.link-btn-center hubungi kami
