footer.footer
    .container-fluid
        .container
            .footer__top
                .row
                    .col-12.col-lg
                        ._wrapper
                            img(src="img/logo-full.svg").footer__logo
                            ul._info
                                li
                                    i.ws.ws-location
                                    p Jl. Pasir Angin, Cipayung<br>Datar, Kec. Megamendung,<br>Bogor, Jawa Barat 16770

                                li
                                    i.ws.ws-phone
                                    a(href="tel:+6281310422887") 0813 1042 2887
                    
                    .col-12.col-lg
                        .footer__link-group
                            .footer__title Tentang Wikasatrian
                            ul
                                li 
                                    a(href="about.html") Tentang
                                li
                                    a(href="galery.html") Galery

                        .footer__link-group
                            .footer__title Aktifitas Kami
                            ul
                                li 
                                    a(href="activities.html") Jenjang Ksatrian
                    
                    .col-12.col-lg
                        .footer__link-group
                            .footer__title._tmb Fasilitas
                            ul
                                li 
                                    a(href="facility-detail.html") Giri Wijaya
                                li
                                    a(href="facility-detail.html") Giri Sasana
                                li
                                    a(href="facility-detail.html") Giri Budaya
                                li
                                    a(href="facility-detail.html") Giri Pustaka
                                li
                                    a(href="facility-detail.html") Giri Boga
                                li
                                    a(href="facility-detail.html") Ruang Pertemuan
                                li
                                    a(href="facility-detail.html") Wana Arena
                                li
                                    a(href="facility-detail.html") Alam

                    .col-12.col-lg
                        .footer__link-group
                            .footer__title._tmb Program pembelajaran manajemen &amp; bisnis
                            ul
                                li 
                                    a(href="program-management.html") Tatanan Pucuk Kepemimpinan
                                li
                                    a(href="program-management.html") Kecakapan Tata Kelola Perusahaan
                                li
                                    a(href="program-management.html") Kepemimpinan dan Kecakapan taktis
                                li
                                    a(href="program-management.html") Strategi Pengambilan Keputusan
                                li
                                    a(href="program-management.html") Penataran Pamong
                                li
                                    a(href="program-management.html") Kewirausahaan
                                li
                                    a(href="program-management.html") Tatanan Pengetahuan
                                li
                                    a(href="program-management.html") Tata Kelola Risiko
                    
                    .col-12.col-lg
                        .footer__link-group
                            .footer__title._tmb Program pembelajaran kepemimpinan
                            ul
                                li 
                                    a(href="program-leadership.html") Satria Pratama
                                li
                                    a(href="program-leadership.html") Satria Utama
                                li
                                    a(href="program-leadership.html") Satria Luhur
                    

        .footer__bottom
            .container
                ul.footer__social
                    li
                        a(href="#!")
                            i.ws.ws-fb
                    li
                        a(href="#!")
                            i.ws.ws-ig
                    li
                        a(href="#!")
                            i.ws.ws-tw
                    li
                        a(href="#!")
                            i.ws.ws-wa
                    li
                        a(href="#!")
                            i.ws.ws-yt

                .footer__copyright
                    span Copyright 2013-2020 Wikasatrian Pusat Kepemimpinan. All rights reserved