include ../db/db

// favicon 
link(rel='shortcut icon', href='img/favicon.png')

// vendor style 
link(rel='stylesheet', type='text/css', href='css/vendor.bundle.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

// main style 
link(rel='stylesheet', type='text/css', href='css/styles.css')
    