// vendor script
script(src='js/vendor/jquery.min.js')
script(src='js/vendor/bootstrap.min.js')
script(src='js/vendor/slick.min.js')
script(src='js/vendor/jquery.isotope.min.js')
script(src='js/vendor/jquery.isotope.active.js')
script(src='js/upload-img.js')
script(src='js/forms.js')
script(src='js/progress.js')
script(src='js/vendor/datepicker.min.js')
script(src='js/vendor/datepicker.id.js')
script(src='js/datepicker.set.js')

// main script
script(src='js/main.js')