// meta
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name="description" content="")
meta(name="keywords" content="Wikasatrian adalah Pusat Pelatihan Kepemimpinan berbasis budaya yang dibangun dan dikembangkan oleh WIKA (Wijaya Karya), BUMN yang bergerak di bidang konstruksi.")
meta(name="author" content="Aksikode")
meta(name='viewport', content='width=device-width, initial-scale=1.0')