// navbar
.navbar
    .container-fluid
        nav.navbar__wrapper

            .navbar__left
                a(href="javascript:history.go(-1)")
                    i.ws.ws-back

            .navbar__right
                a.navbar__login.d-block.link-btn.link-btn-secondary.link-btn-xs-p(href='register.html') Pendaftaran
// end navbar