// navbar
.navbar
    .navbar__menu 
        i.ws.ws-close.drawer-btn-close
        .container
            ul.navbar__menu__list
                for navlink in navlinks
                        if navlink.type === "primary"
                            li
                                a(href=navlink.link) !{navlink.name}
    .container-fluid
        nav.navbar__wrapper

            .navbar__left
                //- i.drawer-btn.ws.ws-bars
                img(src="img/ws-img-logo.svg").navbar__logo

            .navbar__right
                ul.navbar__links.d-none.d-xl-block
                    li
                        a(href="index.html") Beranda
                    li
                        a(href="about.html") Tentang
                    li
                        a(href="programs.html") Program
                    li
                        a(href="facilities.html") Fasilitas
                    li
                        a(href="articles.html") Artikel
                    li
                        a(href="#!") Testimoni
                    li
                        a(href="contact.html") Kontak

                a.navbar__login.link-btn.link-btn-secondary.link-btn-xs-p.d-none.d-xl-block(href='login.html') Masuk
                i.drawer-btn.ws.ws-bars.d-xl-none
// end navbar