section.sc-program-list
	.container-fluid
		.section-wrapper
			.container
				h1.title.align-center.fcolor-primary.mabo-10 Galery

				.row
					.col-12.col-xl-6
						div(data-toggle='modal', data-target='#img-01').galery-wrapper
							img(src="uploads/images/article-07-1.jpg")
							.label-text.mato-5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						
						#img-01.modal.fade(tabindex='-1', role='dialog', aria-labelledby='img-01Title', aria-hidden='true')
							.modal-dialog.modal-dialog-centered(role='document')
								.modal-content
									.ws.ws-close(data-dismiss="modal")
									img(src="uploads/images/article-07-1.jpg").img-responsive

					.col-12.col-xl-6
						div(data-toggle='modal', data-target='#img-02').galery-wrapper
							img(src="uploads/images/article-08.jpg")
							.label-text.mato-5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						
						#img-02.modal.fade(tabindex='-1', role='dialog', aria-labelledby='img-02Title', aria-hidden='true')
							.modal-dialog.modal-dialog-centered(role='document')
								.modal-content
									.ws.ws-close(data-dismiss="modal")
									img(src="uploads/images/article-08.jpg").img-responsive

					.col-12.col-xl-6
						div(data-toggle='modal', data-target='#img-03').galery-wrapper
							img(src="uploads/images/article-06.jpg")
							.label-text.mato-5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						
						#img-03.modal.fade(tabindex='-1', role='dialog', aria-labelledby='img-03Title', aria-hidden='true')
							.modal-dialog.modal-dialog-centered(role='document')
								.modal-content
									.ws.ws-close(data-dismiss="modal")
									img(src="uploads/images/article-06.jpg").img-responsive

					.col-12.col-xl-6
						div(data-toggle='modal', data-target='#img-04').galery-wrapper
							img(src="uploads/images/article-09.jpg")
							.label-text.mato-5 Lorem ipsum dolor sit amet consectetur adipisicing elit.

						#img-04.modal.fade(tabindex='-1', role='dialog', aria-labelledby='img-04Title', aria-hidden='true')
							.modal-dialog.modal-dialog-centered(role='document')
								.modal-content
									.ws.ws-close(data-dismiss="modal")
									img(src="uploads/images/article-09.jpg").img-responsive
