
// Loreg
section#sc-loreg
    .container-fluid
        .row
        
            .col-12.col-xl-6.order-xl-12
                .sc-loreg__right
                    img(src="img/logo-white.svg")

            .col-12.col-xl-6.order-xl-1
                .sc-loreg__left
                    form(action="register-step-3.html")
                        .input-pack.input-pack--distance
                            .input-pack__label.label-text Email
                            input(type="email", placeholder="Masukan Email")
                            
                        .input-pack.input-pack--distance
                            .input-pack__label.label-text Alamat
                            textarea(placeholder="Masukan Alamat")
                        
                        .input-pack.input-pack--distance2
                            .input-pack__label.label-text Nomor Telepon
                            input(type="number", placeholder="Masukan Nomor Telepon")

                        .row
                            .col-6
                                a(href="register.html").link-btn.link-btn-secondary.link-btn-lg.link-btn-w-lg kembali
                            .col-6
                                input(type="submit", value="lanjut").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg

                    .body-text.mato-5.align-center Sudah memiliki akun?
                    .align-center.mato-1
                        a(href="login.html").link-text Masuk

