
// Loreg
section#sc-loreg
    .container-fluid
        .row
            .col-12.col-xl-6.order-xl-12
                .sc-loreg__right
                    img(src="img/logo-white.svg")

            .col-12.col-xl-6.order-xl-1
                .sc-loreg__left
                    form(action="register-step-2.html")
                        .input-pack.input-pack--distance
                            .input-pack__label.label-text Nama Lengkap
                            input(type="text", placeholder="Masukan Nama Lengkap")
                            
                        .input-pack.input-pack--distance
                            .input-pack__label.label-text Perusahaan
                            input(type="text", placeholder="Masukan Nama Perusahaan")
                        
                        .input-pack.input-pack--distance2
                            .input-pack__label.label-text Kata Sandi
                            input(type="password", placeholder="Masukan Kata Sandi")
                        
                        .input-pack.input-pack--distance2
                            .input-pack__label.label-text Ulangi Kata Sandi
                            input(type="password", placeholder="Ulangi Kata Sandi")

                        input(type="submit", value="lanjut").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg

                    .body-text.mato-5.align-center Sudah memiliki akun?
                    .align-center.mato-1
                        a(href="login.html").link-text Masuk

