
// Loreg
section#sc-loreg
    .container-fluid
        .row
            .col-12.col-xl-6.order-xl-12
                .sc-loreg__right
                    img(src="img/logo-white.svg")
                    
            .col-12.col-xl-6.order-xl-1
                .sc-loreg__left
                    form(action="#!")
                        .input-pack.input-pack--distance
                            .input-pack__label.label-text Konfirmasi
                            .body-text Kami telah mengirim kode verifikasi mohon periksa pesan masuk pada email atau handphone Anda.
                            .split-inputs
                                input(type="text", placeholder="_", maxlength='1').align-center.split-input
                                input(type="text", placeholder="_", maxlength='1').align-center.split-input
                                input(type="text", placeholder="_", maxlength='1').align-center.split-input
                                input(type="text", placeholder="_", maxlength='1').align-center.split-input
                        .align-center.mabo-5
                            a(href="login.html").link-text Kirim kode ulang ↻ 
                        input(type="submit", value="konfirmasi").link-btn.link-btn-primary.link-btn-lg.link-btn-w-lg

                    .body-text.mato-5.align-center Sudah memiliki akun?
                    .align-center.mato-1
                        a(href="login.html").link-text Masuk
