doctype html
include ../../db/db
html.no-js(lang='id', dir='ltr')
    head
        //- Page Title
        for app in apps
            title Tentang Wikasatrian | !{app.name}
        include ../../layouts/meta
        include ../../layouts/links-top

    body
        include ../../layouts/navbar
        //- Content Start
        main.Home
            
            include components/contents
            
        include ../../layouts/footer
        include ../../layouts/links-bottom

        script.
            $('.facilities-slider').slick({
            centerMode: true,
            dots:false,
            arrows:true,
            centerPadding: '28.8rem',
            slidesToShow: 3,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '4.8rem',
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '1.6rem',
                        slidesToShow: 1
                    }
                }
            ]
            });