section
	.container-fluid
		.article-slider
			a(href="activity.html").article__slider
				img(src="uploads/images/selusur.png").article__slider__img
				.container
					h1.title.fcolor-primary.mato-10 Selusur Alam pengenalan keaneka-ragaman hayati.
					
			a(href="activity.html").article__slider
				img(src="uploads/images/selusur.png").article__slider__img
				.container
					h1.title.fcolor-primary.mato-10 Selusur Alam pengenalan keaneka-ragaman hayati.
				//- a.link-btn.link-btn-secondary.link-btn-xs(href='register.html') pendaftaran
					
        

section.sc-article-list
	.container-fluid
		.section-wrapper
			.container
				h1.title.align-center.fcolor-primary.mabo-10 Aktivitas

				.row.masonry
					include ../../../g-components/article-card
					for article in activityLists
						.col-12.col-md-6.col-xl-4.masonry__item
							+article-list(article)

section.bg-flower-center
	.container-fluid
		.section-wrapper
			.container
				h1.title.align-center.fcolor-primary.mabo-10 Testimoni

				.testimony-slider
					.align-center
						img(src="uploads/images/testimoni.png").mabo-7
						p.body-text.mabo-5 "Menjadi pemimpin itu butuh pengenalan terhadap lingkungan dan harga sebuah perkenalan di lingkungan itu harus dengan hati dan perjuangan walaupun harus mengulang kembali pada jalan yang sama."
						.label-text.fcolor-primary Rony H Susanto

					.align-center
						img(src="uploads/images/testimoni.png").mabo-7
						p.body-text.mabo-5 "Menjadi pemimpin itu butuh pengenalan terhadap lingkungan dan harga sebuah perkenalan di lingkungan itu harus dengan hati dan perjuangan walaupun harus mengulang kembali pada jalan yang sama."
						.label-text.fcolor-primary Rony H Susanto